Repository Manta-Network/Manta, pull requests merged in 2021-06, with the labels that each got.

#73 [Manta-PC]Update manta-pc deps to polkadot-v0.9.3
  .DS_Store
  .github/workflows/check.yml
  Cargo.lock
  Cargo.toml
  docs/.DS_Store
  docs/README.md
  docs/figures/register-parachain.png
  node/Cargo.toml
  node/build.rs
  node/src/chain_spec.rs
  node/src/cli.rs
  node/src/command.rs
  node/src/lib.rs
  node/src/main.rs
  node/src/service.rs
  runtime/manta-pc/Cargo.toml
  runtime/manta-pc/build.rs
  runtime/manta-pc/src/lib.rs
  runtime/primitives/Cargo.toml
  runtime/primitives/src/constants.rs
  runtime/primitives/src/lib.rs
  runtimes/manta-pc/Cargo.toml
  runtimes/manta-pc/build.rs
  runtimes/manta-pc/pallets/parachain-info/Cargo.toml
  runtimes/manta-pc/pallets/parachain-info/src/lib.rs
  runtimes/manta-pc/primitives/Cargo.toml
  runtimes/manta-pc/primitives/src/lib.rs
  runtimes/manta-pc/runtime/Cargo.toml
  runtimes/manta-pc/runtime/build.rs
  runtimes/manta-pc/runtime/src/lib.rs
  runtimes/manta-pc/src/chain_spec.rs
  runtimes/manta-pc/src/main.rs
  runtimes/manta-pc/src/service.rs
  runtimes/manta-pc/tests/common.rs
  runtimes/manta-pc/tests/polkadot_argument_parsing.rs
  runtimes/manta-pc/tests/polkadot_mdns_issue.rs
  runtimes/manta-pc/tests/purge_chain_works.rs
  runtimes/manta-pc/tests/running_the_node_and_interrupt.rs
Labels: Manta-PC

#79 [Manta-PC] Resolve CI Storage/Memory Issues
  .github/workflows/check_build.yml
  .github/workflows/check_tests.yml
Labels: Testnet-Release

#80 [Manta-PC]Add pallet-collator-selection, align manta-pc'deps with the statemint's
  .github/workflows/check_build.yml
  Cargo.lock
  node/Cargo.toml
  node/src/chain_spec.rs
  node/src/service.rs
  runtime/manta-pc/Cargo.toml
  runtime/manta-pc/src/lib.rs
  runtime/primitives/Cargo.toml
Labels: Manta-PC, Testnet-Release

#87 [ready-to-merge] [manta] Update manta-pay dependency to fb53902d095849196f02e1337db4c88844398fd2
  .github/workflows/check.yml
  Cargo.lock
  runtimes/manta/runtime/Cargo.toml
Labels: Manta-Node, bug

#83 [ready-to-merge] [manta] Increase test coverage
  .github/workflows/check.yml
  runtimes/manta/runtime/src/impls.rs
  runtimes/manta/runtime/src/tests.rs
  runtimes/manta/src/chain_spec.rs
  runtimes/manta/src/command.rs
Labels: Manta-Node, Testnet-Release

#104 [manta-pc] Update ci
  .github/workflows/check_build.yml
  .github/workflows/check_tests.yml
Labels: enhancement

#108 [Manta-PC]Update impl_name() and description()
  node/src/command.rs
Labels: Manta-PC
