Repository Manta-Network/Manta, pull requests merged in 2022-01, with the labels that each got.

#311 [Manta] LTO for release and benchmarking binaries
  .github/resources/frame-weight-template.hbs
  .github/workflows/generate_calamari_weights_files.yml
  .github/workflows/generate_manta_weights_files.yml
  .github/workflows/publish-draft-releases.yml
  runtime/calamari/src/weights/calamari_vesting.rs
  runtime/calamari/src/weights/frame_system.rs
  runtime/calamari/src/weights/pallet_balances.rs
  runtime/calamari/src/weights/pallet_collective.rs
  runtime/calamari/src/weights/pallet_democracy.rs
  runtime/calamari/src/weights/pallet_membership.rs
  runtime/calamari/src/weights/pallet_multisig.rs
  runtime/calamari/src/weights/pallet_scheduler.rs
  runtime/calamari/src/weights/pallet_session.rs
  runtime/calamari/src/weights/pallet_timestamp.rs
  runtime/calamari/src/weights/pallet_tx_pause.rs
  runtime/calamari/src/weights/pallet_utility.rs
  runtime/manta/src/weights/frame_system.rs
  runtime/manta/src/weights/pallet_balances.rs
  runtime/manta/src/weights/pallet_multisig.rs
  runtime/manta/src/weights/pallet_scheduler.rs
  runtime/manta/src/weights/pallet_session.rs
  runtime/manta/src/weights/pallet_timestamp.rs
  runtime/manta/src/weights/pallet_tx_pause.rs
Labels: enhancement, Weights, Calamari

#312 [Calamari]Add forked collator-selection
  Cargo.lock
  node/Cargo.toml
  pallets/collator-selection/Cargo.toml
  pallets/collator-selection/src/benchmarking.rs
  pallets/collator-selection/src/lib.rs
  pallets/collator-selection/src/mock.rs
  pallets/collator-selection/src/tests.rs
  pallets/collator-selection/src/weights.rs
  pallets/pallet-tx-pause/Cargo.toml
  pallets/vesting/Cargo.toml
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/manta/Cargo.toml
  runtime/primitives/Cargo.toml
Labels: Manta, Calamari

#313 [Manta] Add treasury to Calamari runtime
  .github/workflows/generate_calamari_weights_files.yml
  Cargo.lock
  runtime/calamari/Cargo.toml
  runtime/calamari/src/impls.rs
  runtime/calamari/src/lib.rs
  runtime/calamari/src/weights/mod.rs
  runtime/calamari/src/weights/pallet_treasury.rs
Labels: enhancement, Weights, Calamari, Runtime

#329 [Manta] Use bare metal instance for Calamari/Manta benchmarking workflows
  .github/workflows/generate_calamari_weights_files.yml
  .github/workflows/generate_manta_weights_files.yml
  runtime/calamari/src/weights/calamari_vesting.rs
  runtime/calamari/src/weights/frame_system.rs
  runtime/calamari/src/weights/pallet_balances.rs
  runtime/calamari/src/weights/pallet_collective.rs
  runtime/calamari/src/weights/pallet_democracy.rs
  runtime/calamari/src/weights/pallet_membership.rs
  runtime/calamari/src/weights/pallet_multisig.rs
  runtime/calamari/src/weights/pallet_scheduler.rs
  runtime/calamari/src/weights/pallet_session.rs
  runtime/calamari/src/weights/pallet_timestamp.rs
  runtime/calamari/src/weights/pallet_tx_pause.rs
  runtime/calamari/src/weights/pallet_utility.rs
  runtime/manta/src/weights/frame_system.rs
  runtime/manta/src/weights/pallet_balances.rs
  runtime/manta/src/weights/pallet_multisig.rs
  runtime/manta/src/weights/pallet_scheduler.rs
  runtime/manta/src/weights/pallet_session.rs
  runtime/manta/src/weights/pallet_timestamp.rs
  runtime/manta/src/weights/pallet_tx_pause.rs
Labels: Weights, CI/CD, Runtime

#353 [Calamari]Remove some params from ENTRYPOINT
  docker/calamari.Dockerfile
Labels: DevOps, Calamari, CI/CD

#341 [Manta] Create Release Checklist Issue Template
  .github/ISSUE_TEMPLATE/release.md
Labels: enhancement
