Repository Manta-Network/Manta, pull requests merged in 2022-09, with the labels that each got.

#783 Fix calamari bootnode names in chain-spec and docker
  docker/calamari.Dockerfile
  genesis/calamari-genesis.json
Labels: C-bug, A-calamari, A-dolphin, L-fixed

#781 Proper XCM weights benchmark
  .github/resources/xcm-weight-template.hbs
  .github/workflows/run_all_benchmarks.yml
  .gitignore
  Cargo.lock
  node/src/command.rs
  pallets/asset-manager/src/lib.rs
  pallets/collator-selection/src/lib.rs
  pallets/manta-pay/src/bin/precompute_coins.rs
  pallets/manta-pay/src/lib.rs
  pallets/vesting/src/lib.rs
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/calamari/src/weights/mod.rs
  runtime/calamari/src/weights/xcm/mod.rs
  runtime/calamari/src/weights/xcm/pallet_xcm_benchmarks_fungible.rs
  runtime/calamari/src/weights/xcm/pallet_xcm_benchmarks_generic.rs
  runtime/calamari/src/xcm_config.rs
  runtime/common/tests/xcm_mock/parachain.rs
  runtime/dolphin/Cargo.toml
  runtime/dolphin/src/lib.rs
  runtime/dolphin/src/weights/mod.rs
  runtime/dolphin/src/weights/xcm/mod.rs
  runtime/dolphin/src/weights/xcm/pallet_xcm_benchmarks_fungible.rs
  runtime/dolphin/src/weights/xcm/pallet_xcm_benchmarks_generic.rs
  runtime/dolphin/src/xcm_config.rs
  scripts/benchmarking/run_all_benchmarks.sh
Labels: C-enhancement, A-calamari, A-xcm, A-dolphin, L-changed

#782 Run manta-pay randomized tests in a loop 10 times
  pallets/manta-pay/src/test/payment.rs
Labels: C-enhancement, A-calamari, A-dolphin, A-testing, L-changed

#791 Fix CI by ignoring failure of `stop-` jobs
  .github/workflows/check_tests.yml
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_dolphin.yml
  .github/workflows/metadata_diff.yml
  .github/workflows/publish_draft_releases.yml
  .github/workflows/run_all_benchmarks.yml
  .github/workflows/run_linters.yml
  .github/workflows/runtime_upgrade_test.yml
  .github/workflows/try-runtime-calamari-mainnet.yml
Labels: C-bug, A-ci, L-fixed

#678 Minor: Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: C-enhancement, A-calamari, A-development, L-changed, E-minutes

#792 Adapt 45/45/10 TX fee split for KMA, 100% to author for DOL
  runtime/calamari/src/fee.rs
  runtime/calamari/src/impls.rs
  runtime/calamari/tests/integration_tests.rs
  runtime/dolphin/src/impls.rs
Labels: C-enhancement, A-calamari, A-dolphin, L-changed

#724 Nimbus Stage 2 - Enable permissionless staking on Calamari
  Cargo.lock
  node/Cargo.toml
  node/src/chain_specs/calamari.rs
  pallets/collator-selection/Cargo.toml
  pallets/collator-selection/src/lib.rs
  pallets/parachain-staking/Cargo.toml
  pallets/parachain-staking/README.md
  pallets/parachain-staking/migrations.md
  pallets/parachain-staking/src/benchmarks.rs
  pallets/parachain-staking/src/delegation_requests.rs
  pallets/parachain-staking/src/inflation.rs
  pallets/parachain-staking/src/lib.rs
  pallets/parachain-staking/src/migrations.rs
  pallets/parachain-staking/src/mock.rs
  pallets/parachain-staking/src/set.rs
  pallets/parachain-staking/src/tests.rs
  pallets/parachain-staking/src/traits.rs
  pallets/parachain-staking/src/types.rs
  pallets/parachain-staking/src/weights.rs
  primitives/manta/src/constants.rs
  runtime/calamari/Cargo.toml
  runtime/calamari/src/currency.rs
  runtime/calamari/src/lib.rs
  runtime/calamari/src/migrations/mod.rs
  runtime/calamari/src/migrations/staking.rs
  runtime/calamari/src/weights/mod.rs
  runtime/calamari/src/weights/pallet_parachain_staking.rs
  runtime/calamari/tests/integration_tests.rs
  runtime/dolphin/src/lib.rs
Labels: C-enhancement, A-calamari, P-high, A-consensus, L-added

#797 Manta v3.4.0 Release
  .github/workflows/metadata_diff.yml
  .github/workflows/run_all_benchmarks.yml
  .github/workflows/runtime_upgrade_test.yml
  CHANGELOG.md
  Cargo.lock
  node/Cargo.toml
  pallets/asset-manager/Cargo.toml
  pallets/collator-selection/Cargo.toml
  pallets/parachain-staking/src/benchmarks.rs
  pallets/parachain-staking/src/lib.rs
  pallets/tx-pause/Cargo.toml
  pallets/vesting/Cargo.toml
  primitives/manta/Cargo.toml
  primitives/session-keys/Cargo.toml
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/calamari/src/weights/calamari_vesting.rs
  runtime/calamari/src/weights/cumulus_pallet_xcmp_queue.rs
  runtime/calamari/src/weights/frame_system.rs
  runtime/calamari/src/weights/manta_collator_selection.rs
  runtime/calamari/src/weights/pallet_asset_manager.rs
  runtime/calamari/src/weights/pallet_assets.rs
  runtime/calamari/src/weights/pallet_author_inherent.rs
  runtime/calamari/src/weights/pallet_balances.rs
  runtime/calamari/src/weights/pallet_collective.rs
  runtime/calamari/src/weights/pallet_democracy.rs
  runtime/calamari/src/weights/pallet_membership.rs
  runtime/calamari/src/weights/pallet_multisig.rs
  runtime/calamari/src/weights/pallet_parachain_staking.rs
  runtime/calamari/src/weights/pallet_preimage.rs
  runtime/calamari/src/weights/pallet_scheduler.rs
  runtime/calamari/src/weights/pallet_session.rs
  runtime/calamari/src/weights/pallet_timestamp.rs
  runtime/calamari/src/weights/pallet_treasury.rs
  runtime/calamari/src/weights/pallet_tx_pause.rs
  runtime/calamari/src/weights/pallet_utility.rs
  runtime/calamari/src/weights/xcm/pallet_xcm_benchmarks_fungible.rs
  runtime/calamari/src/weights/xcm/pallet_xcm_benchmarks_generic.rs
  runtime/calamari/tests/integration_tests.rs
  runtime/common/Cargo.toml
  runtime/dolphin/Cargo.toml
  runtime/dolphin/src/lib.rs
  runtime/manta/Cargo.toml
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-calamari, A-dolphin, L-skip
