Repository Manta-Network/Manta, pull requests merged in 2022-02, with the labels that each got.

#337 [Manta] Add a `congested_chain_simulation` test in Calamari
  Cargo.lock
  runtime/calamari/Cargo.toml
  runtime/calamari/src/fee.rs
Labels: Calamari, Test-Automation, Runtime

#359 Update upstream to v0.9.15
  Cargo.lock
  node/Cargo.toml
  pallets/collator-selection/Cargo.toml
  pallets/collator-selection/src/mock.rs
  pallets/pallet-tx-pause/Cargo.toml
  pallets/vesting/Cargo.toml
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/manta/Cargo.toml
  runtime/manta/src/lib.rs
  runtime/primitives/Cargo.toml
Labels: Manta, Calamari, Priority: High

#381 [manta] Bump client and runtime versions to v3.1.3
  CHANGELOG.md
  Cargo.lock
  node/Cargo.toml
  pallets/collator-selection/Cargo.toml
  pallets/pallet-tx-pause/Cargo.toml
  pallets/vesting/Cargo.toml
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/manta/Cargo.toml
  runtime/manta/src/lib.rs
  runtime/primitives/Cargo.toml
Labels: Runtime

#403 [manta] Remove `pallet_scheduler` v3 migration after 3140 runtime upgrade
  runtime/calamari/src/lib.rs
Labels: Runtime

#406 [manta] Adjust treasury and preimage pallets' deposits
  runtime/calamari/src/lib.rs
  runtime/dolphin/src/lib.rs
  runtime/manta/src/lib.rs
Labels: Runtime

#373 Expose more ports in dockerfile
  docker/calamari.Dockerfile
Labels: DevOps, Calamari, CI/CD

#401 Customize cargo profiles
  .github/workflows/generate_calamari_weights_files.yml
  .github/workflows/generate_manta_weights_files.yml
  .github/workflows/publish-draft-releases.yml
  Cargo.toml
  README.md
  node/Cargo.toml
Labels: enhancement, CI/CD

#404 [manta] Reduce `PreimageMaxSize` to 3.5MB
  pallets/collator-selection/src/tests.rs
  runtime/calamari/src/lib.rs
  runtime/dolphin/src/lib.rs
  runtime/manta/src/lib.rs
Labels: Runtime
