Repository Manta-Network/Manta, pull requests merged in 2022-12, with the labels that each got.

#906 Use finalized_hash instead of best_hash in pull_ledger_diff
  node/src/command.rs
  pallets/collator-selection/src/lib.rs
  pallets/manta-pay/src/bin/precompute_coins.rs
  pallets/manta-pay/src/rpc.rs
  pallets/manta-pay/src/test/payment.rs
  primitives/session-keys/src/util.rs
  runtime/calamari/src/fee.rs
  runtime/calamari/tests/integrations_mock/integration_tests.rs
Labels: C-enhancement, A-calamari, A-dolphin, A-manta-pay, L-changed

#903 Add MantaPay to Calamari runtime
  Cargo.lock
  node/src/command.rs
  node/src/rpc/calamari.rs
  node/src/rpc/mod.rs
  pallets/manta-pay/Cargo.toml
  pallets/manta-pay/src/benchmark/mod.rs
  pallets/manta-pay/src/lib.rs
  pallets/manta-pay/src/test/payment.rs
  pallets/manta-pay/src/weights.rs
  runtime/calamari/Cargo.toml
  runtime/calamari/src/assets_config.rs
  runtime/calamari/src/lib.rs
  runtime/calamari/src/weights/mod.rs
  runtime/calamari/src/weights/pallet_manta_pay.rs
Labels: C-enhancement, A-calamari, L-added

#911 Feature/manta rs v0.5.8
  Cargo.lock
  node/Cargo.toml
  node/src/command.rs
  pallets/manta-pay/Cargo.toml
  pallets/manta-pay/src/benchmark/mod.rs
  pallets/manta-pay/src/benchmark/precomputed_coins.rs
  pallets/manta-pay/src/bin/precompute_coins.rs
  pallets/manta-pay/src/lib.rs
  pallets/manta-pay/src/test/payment.rs
  pallets/manta-pay/src/types.rs
  pallets/vesting/src/tests.rs
  primitives/manta/src/assets.rs
  runtime/calamari/src/fee.rs
  tests/manta_pay.ts
  tests/rpc_correctness_test.ts
  tests/rpc_performance_test.ts
  tests/types.ts
Labels: C-enhancement, A-manta, A-calamari, A-dolphin, L-changed

#920 Bump Transaction Version
  runtime/calamari/src/lib.rs
  runtime/dolphin/src/lib.rs
Labels: A-calamari, A-runtime, A-dolphin, C-cleanup, L-skip

#927 Minor: Revert "Autoassign new issues to the Development Github project (#601)"
  .github/workflows/assign_new_issue_to_project.yml
Labels: C-cleanup, A-development, L-skip

#919 Add pull-ledger-diff ci test for calamari
  .github/workflows/integration_test_calamari.yml
  tests/manta_pay.ts
  tests/rpc_correctness_test.ts
  tests/rpc_performance_test.ts
Labels: C-enhancement, A-calamari, A-ci, A-dolphin, L-added

#771 Update tx-pause pallet to make it easier to pause stuff
  pallets/tx-pause/src/benchmarking.rs
  pallets/tx-pause/src/lib.rs
  pallets/tx-pause/src/mock.rs
  pallets/tx-pause/src/tests.rs
  runtime/calamari/src/lib.rs
  runtime/calamari/tests/integrations_mock/integration_tests.rs
  runtime/dolphin/src/lib.rs
  runtime/manta/src/lib.rs
Labels: A-calamari, A-governance, L-changed

#924 Fix runtime upgrade test by using governance instead of SUDO
  .github/resources/config-for-runtime-upgrade-test.json
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_dolphin.yml
  .github/workflows/runtime_upgrade_test.yml
  genesis/calamari-testnet-ci-genesis.json
  genesis/dolphin-testnet-ci-genesis.json
  genesis/manta-testnet-ci-genesis.json
  node/src/chain_specs/calamari.rs
  node/src/chain_specs/dolphin.rs
  node/src/chain_specs/manta.rs
  node/src/command.rs
  tests/manta_pay.ts
  tests/package.json
  tests/runtime_upgrade_test.ts
Labels: C-bug, A-calamari, A-ci, A-dolphin, L-fixed

#944 Update nimbus
  Cargo.lock
  node/Cargo.toml
  node/src/client.rs
  pallets/collator-selection/Cargo.toml
  primitives/session-keys/Cargo.toml
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/dolphin/Cargo.toml
  runtime/dolphin/src/lib.rs
Labels: A-calamari, A-dolphin, C-cleanup, L-changed, A-client

#937 Set collator minimum bond to 4M KMA
  Cargo.lock
  runtime/calamari/Cargo.toml
  runtime/calamari/src/staking.rs
  runtime/calamari/tests/integrations_mock/integration_tests.rs
  runtime/calamari/tests/integrations_mock/mock.rs
  runtime/calamari/tests/integrations_mock/mod.rs
Labels: C-enhancement, A-calamari, L-changed

#949 fix: distinguish between panic-errors and possible-fix-errors
  Cargo.lock
  pallets/manta-pay/Cargo.toml
  pallets/manta-pay/src/lib.rs
Labels: A-calamari, C-cleanup, A-manta-pay, L-changed

#948 add zero balance check
  pallets/manta-pay/src/lib.rs
  pallets/manta-pay/src/test/payment.rs
Labels: C-enhancement, A-calamari, A-runtime, A-dolphin, L-fixed

#954 trivial: fix badge + remove mention of milestone from PR template
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: C-bug, A-development, L-skip

#952 update genesis
  Cargo.lock
  genesis/manta-genesis-raw.json
  genesis/manta-genesis.json
  node/Cargo.toml
  node/src/chain_specs/manta.rs
  node/src/command.rs
  runtime/manta/src/staking.rs
Labels: C-enhancement, A-manta, L-added
