Repository Manta-Network/Manta, pull requests merged in 2022-10, with the labels that each got.

#819 Disable v3.40 migration code
  runtime/calamari/src/lib.rs
Labels: A-calamari, C-cleanup, L-removed

#822 Hardcode weight for instructions with MultiAssetFilter params
  pallets/manta-pay/src/lib.rs
  runtime/calamari/src/weights/xcm/mod.rs
  runtime/calamari/src/xcm_config.rs
  runtime/dolphin/src/weights/xcm/mod.rs
Labels: C-bug, A-weights, A-calamari, A-xcm, A-dolphin, L-fixed

#818 Fix Block Producer Selection
  Cargo.lock
  node/Cargo.toml
  pallets/collator-selection/Cargo.toml
  pallets/parachain-staking/Cargo.toml
  pallets/parachain-staking/src/lib.rs
  primitives/session-keys/Cargo.toml
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/dolphin/Cargo.toml
Labels: C-bug, A-calamari, A-consensus, L-fixed

#826 Release v3.4.1
  .github/workflows/metadata_diff.yml
  .github/workflows/runtime_upgrade_test.yml
  CHANGELOG.md
  runtime/calamari/src/lib.rs
  runtime/dolphin/src/lib.rs
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-calamari, A-dolphin, L-skip

#833 Run live benchmarks as test in CI
  .github/workflows/check_tests.yml
Labels: A-calamari, A-ci, A-dolphin, L-changed

#834 Followups to Staking
  node/src/chain_specs/calamari.rs
  pallets/asset-manager/src/mock.rs
  pallets/manta-pay/src/mock.rs
  pallets/parachain-staking/src/mock.rs
  primitives/manta/src/constants.rs
  runtime/calamari/src/currency.rs
  runtime/calamari/src/lib.rs
  runtime/calamari/src/migrations/staking.rs
  runtime/calamari/src/staking.rs
Labels: A-calamari, C-cleanup, L-changed

#835 align block number type in tests
  Cargo.lock
  pallets/asset-manager/src/mock.rs
  pallets/collator-selection/Cargo.toml
  pallets/collator-selection/src/mock.rs
  pallets/manta-pay/src/mock.rs
  pallets/parachain-staking/src/mock.rs
  pallets/parachain-staking/src/tests.rs
  pallets/tx-pause/src/mock.rs
  pallets/vesting/Cargo.toml
  pallets/vesting/src/mock.rs
  runtime/common/tests/xcm_mock/parachain.rs
  runtime/common/tests/xcm_mock/relay_chain.rs
Labels: A-calamari, A-dolphin, A-testing, C-good-first-issue, L-fixed

#840 Improve mock xcm
  Cargo.lock
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/calamari/tests/integration_tests.rs
  runtime/calamari/tests/integrations_mock/mock.rs
  runtime/calamari/tests/integrations_mock/mod.rs
  runtime/calamari/tests/xcm_mock/mod.rs
  runtime/calamari/tests/xcm_mock/parachain.rs
  runtime/calamari/tests/xcm_mock/relay_chain.rs
  runtime/calamari/tests/xcm_tests.rs
  runtime/common/Cargo.toml
Labels: C-enhancement, A-calamari, A-xcm, A-dolphin, A-testing, L-changed

#836 client trait bound refactor
  node/src/client.rs
  node/src/lib.rs
  node/src/service.rs
Labels: A-calamari, C-good-first-issue, L-changed, A-client

#851 CI: Adding diff result to changelog verification workflow
  .github/workflows/changelog_verification.yml
Labels: C-enhancement, A-ci, L-skip

#846 Fix sequence skipping when a collator misses its slot
  Cargo.lock
  node/Cargo.toml
  pallets/collator-selection/Cargo.toml
  primitives/session-keys/Cargo.toml
  runtime/calamari/Cargo.toml
  runtime/dolphin/Cargo.toml
Labels: C-bug, A-calamari, A-consensus, L-fixed

#848 Fix XCM tests
  primitives/manta/src/xcm.rs
  runtime/calamari/src/xcm_config.rs
  runtime/calamari/tests/xcm_tests.rs
Labels: A-calamari, A-xcm, A-dolphin, C-cleanup, L-changed

#854 Release v3.4.3
  .github/workflows/changelog_verification.yml
  .github/workflows/metadata_diff.yml
  .github/workflows/runtime_upgrade_test.yml
  CHANGELOG.md
  Cargo.lock
  node/Cargo.toml
  pallets/collator-selection/Cargo.toml
  pallets/tx-pause/Cargo.toml
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/common/Cargo.toml
  runtime/dolphin/Cargo.toml
  runtime/dolphin/src/lib.rs
  runtime/manta/Cargo.toml
  runtime/manta/src/lib.rs
Labels: C-bug, A-calamari, A-consensus, L-skip

#860 Don't include testing helpers in release code
  primitives/manta/src/xcm.rs
  runtime/calamari/src/xcm_config.rs
  runtime/calamari/tests/common.rs
  runtime/calamari/tests/integrations_mock/integration_tests.rs
  runtime/calamari/tests/integrations_mock/mock.rs
  runtime/calamari/tests/integrations_mock/mod.rs
  runtime/calamari/tests/xcm_mock/mod.rs
  runtime/calamari/tests/xcm_mock/parachain.rs
  runtime/calamari/tests/xcm_mock/relay_chain.rs
  runtime/calamari/tests/xcm_mock/xcm_tests.rs
Labels: A-calamari, A-runtime, C-cleanup, L-changed

#865 Aura slot skip fix v2
  Cargo.lock
  pallets/parachain-staking/src/lib.rs
Labels: C-enhancement, A-calamari, A-consensus, L-changed

#867 Fix round changes
  runtime/calamari/src/lib.rs
Labels: C-bug, A-calamari, A-consensus, L-fixed

#866 Release v3.4.3 (second attempt)
  CHANGELOG.md
  Cargo.lock
  pallets/asset-manager/Cargo.toml
  pallets/parachain-staking/Cargo.toml
  pallets/vesting/Cargo.toml
  primitives/manta/Cargo.toml
  primitives/session-keys/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/dolphin/src/lib.rs
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-calamari, L-skip
