Repository Manta-Network/Manta, pull requests merged in 2022-07, with the labels that each got.

#639 minor: Fix name change of #634
  .github/workflows/assign_new_issue_to_project.yml
Labels: CI/CD

#614 Remove OnRuntimeUpgrade hooks
  CHANGELOG.md
  pallets/asset-manager/src/lib.rs
  pallets/asset-manager/src/migrations.rs
  runtime/calamari/src/lib.rs
Labels: Calamari, Runtime

#657 Yi/retire mpl
  .github/workflows/publish_draft_releases.yml
  .gitignore
  CHANGELOG.md
Labels: A-ci, P-low

#656 Minor: Remove deprecated license_template_path from rustfmt
  .rustfmt.toml
Labels: A-ci, P-low, A-rust

#677 Compile the runtime with stable Rust by adding RUSTC_BOOTSTRAP=1 flag
  .github/workflows/check_tests.yml
  .github/workflows/generate_calamari_weights_files.yml
  .github/workflows/generate_dolphin_weights_files.yml
  .github/workflows/generate_manta_weights_files.yml
  .github/workflows/metadata_diff.yml
  .github/workflows/publish_draft_releases.yml
  .github/workflows/run_linters.yml
  .github/workflows/try-runtime-calamari-mainnet.yml
  CHANGELOG.md
Labels: C-bug, A-automation, A-ci, P-high, A-rust

#671 polkadot-v0.9.22 `syn` breakage workaround
  CHANGELOG.md
  Cargo.lock
  runtime/common/Cargo.toml
Labels: C-bug, P-high, A-polkadot-dependency

#646 Add session key types for new consensus implementation to Dolphin and Calamari (Nimbus Stage 0)
  .github/workflows/run_linters.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  node/Cargo.toml
  node/src/chain_specs/calamari.rs
  node/src/chain_specs/dolphin.rs
  node/src/chain_specs/manta.rs
  node/src/chain_specs/mod.rs
  node/src/command.rs
  pallets/asset-manager/Cargo.toml
  pallets/manta-pay/Cargo.toml
  pallets/tx-pause/Cargo.toml
  primitives/manta/Cargo.toml
  primitives/manta/src/assets.rs
  primitives/manta/src/constants.rs
  primitives/manta/src/lib.rs
  primitives/manta/src/types.rs
  primitives/manta/src/xcm.rs
  primitives/session-keys/Cargo.toml
  primitives/session-keys/src/aura.rs
  primitives/session-keys/src/helpers.rs
  primitives/session-keys/src/lib.rs
  primitives/session-keys/src/nimbus.rs
  primitives/session-keys/src/vrf.rs
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/calamari/src/nimbus_session_adapter.rs
  runtime/calamari/tests/common/mock.rs
  runtime/calamari/tests/integration_tests.rs
  runtime/common/Cargo.toml
  runtime/dolphin/Cargo.toml
  runtime/dolphin/src/lib.rs
  runtime/dolphin/src/nimbus_session_adapter.rs
  runtime/manta/Cargo.toml
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-calamari, P-high, A-dolphin, A-collator-program, A-consensus, A-migration

#627 Release v3.2.1
  .github/workflows/run_linters.yml
  CHANGELOG.md
  Cargo.lock
  README.md
  known-issues.md
  node/Cargo.toml
  pallets/asset-manager/Cargo.toml
  pallets/collator-selection/Cargo.toml
  pallets/tx-pause/Cargo.toml
  pallets/vesting/Cargo.toml
  primitives/manta/Cargo.toml
  primitives/session-keys/Cargo.toml
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/calamari/src/weights/calamari_vesting.rs
  runtime/calamari/src/weights/cumulus_pallet_xcmp_queue.rs
  runtime/calamari/src/weights/frame_system.rs
  runtime/calamari/src/weights/manta_collator_selection.rs
  runtime/calamari/src/weights/pallet_asset_manager.rs
  runtime/calamari/src/weights/pallet_assets.rs
  runtime/calamari/src/weights/pallet_balances.rs
  runtime/calamari/src/weights/pallet_collective.rs
  runtime/calamari/src/weights/pallet_democracy.rs
  runtime/calamari/src/weights/pallet_membership.rs
  runtime/calamari/src/weights/pallet_multisig.rs
  runtime/calamari/src/weights/pallet_preimage.rs
  runtime/calamari/src/weights/pallet_scheduler.rs
  runtime/calamari/src/weights/pallet_session.rs
  runtime/calamari/src/weights/pallet_timestamp.rs
  runtime/calamari/src/weights/pallet_treasury.rs
  runtime/calamari/src/weights/pallet_tx_pause.rs
  runtime/calamari/src/weights/pallet_utility.rs
  runtime/common/Cargo.toml
  runtime/dolphin/Cargo.toml
  runtime/dolphin/src/lib.rs
  runtime/dolphin/src/weights/cumulus_pallet_xcmp_queue.rs
  runtime/dolphin/src/weights/frame_system.rs
  runtime/dolphin/src/weights/manta_collator_selection.rs
  runtime/dolphin/src/weights/pallet_asset_manager.rs
  runtime/dolphin/src/weights/pallet_assets.rs
  runtime/dolphin/src/weights/pallet_balances.rs
  runtime/dolphin/src/weights/pallet_collective.rs
  runtime/dolphin/src/weights/pallet_democracy.rs
  runtime/dolphin/src/weights/pallet_manta_pay.rs
  runtime/dolphin/src/weights/pallet_membership.rs
  runtime/dolphin/src/weights/pallet_multisig.rs
  runtime/dolphin/src/weights/pallet_preimage.rs
  runtime/dolphin/src/weights/pallet_scheduler.rs
  runtime/dolphin/src/weights/pallet_session.rs
  runtime/dolphin/src/weights/pallet_timestamp.rs
  runtime/dolphin/src/weights/pallet_treasury.rs
  runtime/dolphin/src/weights/pallet_tx_pause.rs
  runtime/dolphin/src/weights/pallet_utility.rs
  runtime/manta/Cargo.toml
  runtime/manta/src/lib.rs
Labels: A-weights, A-calamari, A-runtime, P-high, A-xcm, A-dolphin, A-collator-program, T-runtime, A-migration

#700 Minor: Ignore target folder on `taplo fmt` + clippy
  .taplo.toml
  pallets/manta-pay/src/lib.rs
Labels: A-ci

#681 CI Ledger RPC Tests
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/publish_draft_releases.yml
  .gitignore
  CHANGELOG.md
  tests/README.md
  tests/manta_pay.ts
  tests/package.json
  tests/rpc_correctness_test.ts
  tests/rpc_performance.ts
  tests/rpc_performance_test.ts
Labels: A-ci, A-testing

#682 Use `LengthToFee` in the `congested_chain_simulation`'s fee calculation
  runtime/calamari/src/fee.rs
  runtime/calamari/src/lib.rs
  runtime/dolphin/src/lib.rs
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-testing, L-changed

#695 Refactor fungible ledger mint/burn
  pallets/asset-manager/src/lib.rs
  pallets/asset-manager/src/tests.rs
  pallets/manta-pay/src/benchmark/mod.rs
  pallets/manta-pay/src/test/payment.rs
  primitives/manta/src/assets.rs
  primitives/manta/src/xcm.rs
  runtime/calamari/tests/integration_tests.rs
Labels: C-enhancement, A-runtime, L-changed

#715 Update xcm-onboarding and release templates
  .github/ISSUE_TEMPLATE/calamari_xcm_onboarding.md
  .github/ISSUE_TEMPLATE/release.md
Labels: A-documentation, C-enhancement, L-changed

#717 Dolphin-2085 on Baikal genesis
  genesis/dolphin-2085-genesis.json
  node/src/chain_specs/dolphin.rs
  node/src/command.rs
Labels: C-enhancement, A-dolphin, L-added
