Repository Manta-Network/Manta, pull requests merged in 2023-04, with the labels that each got.

#1046 Initial pull method
  Cargo.lock
  pallets/manta-pay/Cargo.toml
  pallets/manta-pay/src/lib.rs
  pallets/manta-pay/src/rpc.rs
  pallets/manta-pay/src/runtime.rs
  pallets/manta-sbt/Cargo.toml
  pallets/manta-support/Cargo.toml
  pallets/manta-support/src/manta_pay.rs
  runtime/calamari/src/lib.rs
  runtime/dolphin/src/lib.rs
Labels: A-manta, A-calamari, A-dolphin, A-performance, L-added

#1057 Add Evm Allowlist Feature to SBT Pallet
  Cargo.lock
  pallets/manta-sbt/Cargo.toml
  pallets/manta-sbt/src/benchmark/mod.rs
  pallets/manta-sbt/src/lib.rs
  pallets/manta-sbt/src/mock.rs
  pallets/manta-sbt/src/tests.rs
  pallets/manta-sbt/src/weights.rs
  pallets/manta-support/Cargo.toml
  runtime/calamari/src/assets_config.rs
  runtime/calamari/src/weights/pallet_manta_sbt.rs
  runtime/dolphin/src/assets_config.rs
  runtime/dolphin/src/lib.rs
Labels: C-enhancement, A-calamari, A-runtime, A-dolphin, L-added

#1064 add chain id
  pallets/manta-sbt/src/benchmark/mod.rs
  pallets/manta-sbt/src/lib.rs
  pallets/manta-sbt/src/tests.rs
Labels: C-enhancement, A-calamari, L-fixed

#1066 Release v4.0.5
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_dolphin.yml
  .github/workflows/metadata_diff.yml
  .github/workflows/runtime_upgrade_test.yml
  CHANGELOG.md
  Cargo.lock
  node/Cargo.toml
  pallets/asset-manager/Cargo.toml
  pallets/collator-selection/Cargo.toml
  pallets/manta-pay/Cargo.toml
  pallets/manta-sbt/Cargo.toml
  pallets/manta-support/Cargo.toml
  pallets/parachain-staking/Cargo.toml
  pallets/tx-pause/Cargo.toml
  pallets/vesting/Cargo.toml
  primitives/manta/Cargo.toml
  primitives/session-keys/Cargo.toml
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/calamari/src/weights/calamari_vesting.rs
  runtime/calamari/src/weights/cumulus_pallet_xcmp_queue.rs
  runtime/calamari/src/weights/frame_system.rs
  runtime/calamari/src/weights/manta_collator_selection.rs
  runtime/calamari/src/weights/pallet_asset_manager.rs
  runtime/calamari/src/weights/pallet_assets.rs
  runtime/calamari/src/weights/pallet_author_inherent.rs
  runtime/calamari/src/weights/pallet_balances.rs
  runtime/calamari/src/weights/pallet_collective.rs
  runtime/calamari/src/weights/pallet_democracy.rs
  runtime/calamari/src/weights/pallet_manta_pay.rs
  runtime/calamari/src/weights/pallet_manta_sbt.rs
  runtime/calamari/src/weights/pallet_membership.rs
  runtime/calamari/src/weights/pallet_multisig.rs
  runtime/calamari/src/weights/pallet_parachain_staking.rs
  runtime/calamari/src/weights/pallet_preimage.rs
  runtime/calamari/src/weights/pallet_scheduler.rs
  runtime/calamari/src/weights/pallet_session.rs
  runtime/calamari/src/weights/pallet_timestamp.rs
  runtime/calamari/src/weights/pallet_treasury.rs
  runtime/calamari/src/weights/pallet_tx_pause.rs
  runtime/calamari/src/weights/pallet_utility.rs
  runtime/calamari/src/weights/xcm/pallet_xcm_benchmarks_fungible.rs
  runtime/calamari/src/weights/xcm/pallet_xcm_benchmarks_generic.rs
  runtime/common/Cargo.toml
  runtime/dolphin/Cargo.toml
  runtime/dolphin/src/lib.rs
  runtime/manta/Cargo.toml
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-manta, A-calamari, L-skip

#1068 Do not skip integration tests
  runtime/calamari/tests/integrations_mock/integration_tests.rs
  runtime/calamari/tests/mod.rs
  runtime/calamari/tests/xcm_mock/xcm_tests.rs
Labels: A-calamari, A-automation, A-ci, T-runtime, C-cleanup, A-testing, L-fixed

#1069 Enable manta runtime xcm tests
  runtime/manta/tests/mod.rs
  runtime/manta/tests/xcm_mock/xcm_tests.rs
Labels: C-bug, A-manta, A-runtime, A-testing, L-fixed

#1071 Charge 0-asset XCM instructions as if they were 1-asset
  runtime/calamari/src/weights/xcm/mod.rs
  runtime/dolphin/src/weights/xcm/mod.rs
  runtime/manta/src/weights/xcm/mod.rs
Labels: C-enhancement, A-manta, A-calamari, A-xcm, A-dolphin, L-changed

#1067 Refactor manta genesis files, add `manta-testnet`
  genesis/manta-testnet-genesis.json
  node/src/chain_specs/manta/local_testnets_geneses.rs
  node/src/chain_specs/manta/mainnet_genesis.rs
  node/src/chain_specs/manta/mod.rs
  node/src/chain_specs/manta/public_testnet_genesis.rs
  node/src/command.rs
Labels: C-enhancement, A-manta, C-cleanup, A-development, L-added

#1073 Release v4.0.6
  .github/workflows/integration_test_manta.yml
  .github/workflows/metadata_diff.yml
  .github/workflows/runtime_upgrade_test.yml
  .github/workflows/try-runtime-mainnet.yml
  CHANGELOG.md
  Cargo.lock
  docker/manta.Dockerfile
  node/Cargo.toml
  pallets/asset-manager/Cargo.toml
  pallets/collator-selection/Cargo.toml
  pallets/manta-pay/Cargo.toml
  pallets/manta-sbt/Cargo.toml
  pallets/manta-support/Cargo.toml
  pallets/parachain-staking/Cargo.toml
  pallets/tx-pause/Cargo.toml
  pallets/vesting/Cargo.toml
  primitives/manta/Cargo.toml
  primitives/session-keys/Cargo.toml
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/common/Cargo.toml
  runtime/dolphin/Cargo.toml
  runtime/dolphin/src/lib.rs
  runtime/manta/Cargo.toml
  runtime/manta/src/lib.rs
  runtime/manta/src/weights/cumulus_pallet_xcmp_queue.rs
  runtime/manta/src/weights/frame_system.rs
  runtime/manta/src/weights/manta_collator_selection.rs
  runtime/manta/src/weights/pallet_asset_manager.rs
  runtime/manta/src/weights/pallet_assets.rs
  runtime/manta/src/weights/pallet_author_inherent.rs
  runtime/manta/src/weights/pallet_balances.rs
  runtime/manta/src/weights/pallet_multisig.rs
  runtime/manta/src/weights/pallet_parachain_staking.rs
  runtime/manta/src/weights/pallet_preimage.rs
  runtime/manta/src/weights/pallet_session.rs
  runtime/manta/src/weights/pallet_timestamp.rs
  runtime/manta/src/weights/pallet_treasury.rs
  runtime/manta/src/weights/pallet_utility.rs
  runtime/manta/src/weights/xcm/pallet_xcm_benchmarks_fungible.rs
  runtime/manta/src/weights/xcm/pallet_xcm_benchmarks_generic.rs
Labels: C-enhancement, A-manta, A-calamari, L-skip

#1084 Use safe-math in xcm `buy_weight` impl
  primitives/manta/src/constants.rs
  primitives/manta/src/xcm.rs
Labels: C-enhancement, A-manta, A-calamari, A-xcm, L-changed
