Repository Manta-Network/Manta, pull requests merged in 2023-05, with the labels that each got.

#1093 Enable `democracy.external_propose_majority` on calamari
  runtime/calamari/src/lib.rs
  runtime/calamari/tests/integrations_mock/integration_tests.rs
Labels: C-enhancement, A-calamari, A-governance, L-changed

#1086 Add SBT Registry
  pallets/manta-sbt/src/benchmark/mod.rs
  pallets/manta-sbt/src/lib.rs
  pallets/manta-sbt/src/mock.rs
  pallets/manta-sbt/src/tests.rs
  pallets/manta-sbt/src/weights.rs
  runtime/calamari/src/assets_config.rs
  runtime/calamari/src/lib.rs
  runtime/calamari/src/migrations/init_sbt_counter.rs
  runtime/calamari/src/migrations/mod.rs
  runtime/calamari/src/weights/pallet_manta_sbt.rs
  runtime/dolphin/src/assets_config.rs
Labels: C-enhancement, A-calamari, A-runtime, A-dolphin, A-migration, L-changed

#1095 Release v4.0.7
  .github/workflows/metadata_diff.yml
  .github/workflows/run_all_benchmarks.yml
  .github/workflows/runtime_upgrade_test.yml
  CHANGELOG.md
  Cargo.lock
  node/Cargo.toml
  pallets/asset-manager/Cargo.toml
  pallets/collator-selection/Cargo.toml
  pallets/manta-pay/Cargo.toml
  pallets/manta-sbt/Cargo.toml
  pallets/manta-support/Cargo.toml
  pallets/parachain-staking/Cargo.toml
  pallets/tx-pause/Cargo.toml
  pallets/vesting/Cargo.toml
  primitives/manta/Cargo.toml
  primitives/session-keys/Cargo.toml
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/calamari/src/weights/pallet_manta_sbt.rs
  runtime/calamari/tests/integrations_mock/integration_tests.rs
  runtime/common/Cargo.toml
  runtime/dolphin/Cargo.toml
  runtime/dolphin/src/lib.rs
  runtime/manta/Cargo.toml
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-calamari, A-dolphin, L-skip

#1097 Fix CI using older sr-tool version
  .github/workflows/publish_draft_releases.yml
Labels: A-manta, A-calamari, A-automation, A-ci, A-dolphin, C-cleanup, L-skip

#1100 Retire dolphin ci except publish draft release
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/integration_test_dolphin.yml
  .github/workflows/runtime_upgrade_test.yml
Labels: C-enhancement, A-ci, A-dolphin, L-removed

#1099 Remove SBT deprecated storage
  pallets/manta-sbt/src/lib.rs
  pallets/manta-sbt/src/tests.rs
  runtime/calamari/src/lib.rs
  runtime/calamari/src/migrations/init_sbt_counter.rs
  runtime/calamari/src/migrations/mod.rs
Labels: A-calamari, A-runtime, C-cleanup, L-removed

#1102 Add MantaPay RPC to calamari-localdev
  node/src/command.rs
Labels: A-calamari, C-cleanup, A-testing, L-changed

#1080 Rust integration tests for Manta runtime
  .github/workflows/check_tests.yml
  .github/workflows/integration_test_dolphin.yml
  Cargo.lock
  runtime/calamari/tests/integrations_mock/integration_tests.rs
  runtime/calamari/tests/xcm_mock/xcm_tests.rs
  runtime/integration-tests/Cargo.toml
  runtime/integration-tests/src/integrations_mock/mock.rs
  runtime/integration-tests/src/integrations_mock/mod.rs
  runtime/integration-tests/src/integrations_mock/test_calamari.rs
  runtime/integration-tests/src/integrations_mock/test_common.rs
  runtime/integration-tests/src/integrations_mock/test_manta.rs
  runtime/integration-tests/src/lib.rs
  runtime/integration-tests/src/xcm_mock/mod.rs
  runtime/integration-tests/src/xcm_mock/parachain.rs
  runtime/integration-tests/src/xcm_mock/relay_chain.rs
  runtime/integration-tests/src/xcm_mock/xcm_tests.rs
  runtime/manta/tests/mod.rs
  runtime/manta/tests/xcm_mock/mod.rs
  runtime/manta/tests/xcm_mock/parachain.rs
  runtime/manta/tests/xcm_mock/relay_chain.rs
Labels: C-enhancement, A-manta, A-calamari, A-automation, A-ci, A-testing, L-added

#1109 feat: add ledger total count api
  pallets/manta-pay/src/lib.rs
  pallets/manta-pay/src/rpc.rs
  pallets/manta-pay/src/runtime.rs
  pallets/manta-sbt/src/lib.rs
  pallets/manta-sbt/src/rpc.rs
  pallets/manta-sbt/src/runtime.rs
  runtime/calamari/src/lib.rs
  runtime/dolphin/src/lib.rs
Labels: C-enhancement, A-calamari, L-added, A-client

#1103 Add xTokens outgoing transfers filter for MANTA asset
  Cargo.lock
  pallets/asset-manager/src/lib.rs
  pallets/asset-manager/src/mock.rs
  pallets/asset-manager/src/weights.rs
  pallets/manta-pay/src/mock.rs
  pallets/manta-sbt/src/mock.rs
  runtime/calamari/src/assets_config.rs
  runtime/calamari/src/weights/pallet_asset_manager.rs
  runtime/calamari/src/xcm_config.rs
  runtime/dolphin/src/assets_config.rs
  runtime/dolphin/src/weights/pallet_asset_manager.rs
  runtime/dolphin/src/xcm_config.rs
  runtime/integration-tests/src/xcm_mock/parachain.rs
  runtime/integration-tests/src/xcm_mock/xcm_tests.rs
  runtime/manta/src/assets_config.rs
  runtime/manta/src/weights/pallet_asset_manager.rs
  runtime/manta/src/xcm_config.rs
  tests/insert_coins.js
Labels: C-enhancement, A-manta, A-runtime, L-added

#1108 Add tx-pause to Manta Runtime
  Cargo.lock
  runtime/calamari/src/lib.rs
  runtime/integration-tests/src/integrations_mock/mod.rs
  runtime/integration-tests/src/integrations_mock/test_calamari.rs
  runtime/integration-tests/src/integrations_mock/test_common.rs
  runtime/manta/Cargo.toml
  runtime/manta/src/lib.rs
  runtime/manta/src/weights/mod.rs
  runtime/manta/src/weights/pallet_tx_pause.rs
Labels: C-enhancement, A-manta, A-calamari, L-added

#1113 Fix integration test compile options, deps cleanup & clippy
  runtime/calamari/Cargo.toml
  runtime/integration-tests/Cargo.toml
Labels: A-manta, A-calamari, C-cleanup, L-fixed

#1111 Manta Staking Parameters
  runtime/integration-tests/src/integrations_mock/mod.rs
  runtime/integration-tests/src/integrations_mock/test_common.rs
  runtime/manta/src/fee.rs
  runtime/manta/src/impls.rs
  runtime/manta/src/lib.rs
  runtime/manta/src/staking.rs
Labels: C-enhancement, A-manta, L-changed

#1112 Manta assets genesis storage migration
  .github/workflows/metadata_diff.yml
  .github/workflows/run_all_benchmarks.yml
  .github/workflows/try-runtime-mainnet.yml
  runtime/manta/src/lib.rs
  runtime/manta/src/migrations/assets_genesis.rs
  runtime/manta/src/migrations/mod.rs
Labels: C-bug, A-manta, A-runtime, L-fixed

#1089 Tune Tx-Payment Parameters for Manta Runtime
  runtime/calamari/src/fee.rs
  runtime/calamari/src/lib.rs
  runtime/dolphin/src/fee.rs
  runtime/dolphin/src/lib.rs
  runtime/integration-tests/src/integrations_mock/mod.rs
  runtime/integration-tests/src/integrations_mock/test_calamari.rs
  runtime/integration-tests/src/integrations_mock/test_manta.rs
  runtime/manta/src/fee.rs
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-manta, A-runtime, L-changed

#1124 Add timeouts to CI workflows
  .github/workflows/changelog_verification.yml
  .github/workflows/check_tests.yml
  .github/workflows/docker.yml
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_manta.yml
  .github/workflows/metadata_diff.yml
  .github/workflows/publish_draft_releases.yml
  .github/workflows/run_all_benchmarks.yml
  .github/workflows/run_linters.yml
  .github/workflows/runtime_upgrade_test.yml
  .github/workflows/try-runtime-mainnet.yml
Labels: C-enhancement, A-ci, L-skip

#1123 Update release process template
  .github/ISSUE_TEMPLATE/release.md
Labels: A-documentation, C-enhancement, L-skip

#1121 Cleanup Integration Test Import
  runtime/integration-tests/src/integrations_mock/mod.rs
  runtime/integration-tests/src/integrations_mock/test_common.rs
  runtime/integration-tests/src/integrations_mock/test_manta.rs
Labels: A-ci, C-cleanup, A-testing, L-fixed

#1126 Unfilter outgoing assets extrinsic
  Cargo.lock
  pallets/asset-manager/src/lib.rs
  runtime/calamari/src/lib.rs
  runtime/dolphin/src/lib.rs
  runtime/integration-tests/Cargo.toml
  runtime/integration-tests/src/integrations_mock/test_common.rs
  runtime/manta/src/assets_config.rs
  runtime/manta/src/fee.rs
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-manta, A-calamari, L-changed

#1129 Unfilter parachain staking extrinsics
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-manta, A-runtime, L-fixed

#1128 fix round change when collatorset is empty + log in runtime
  Cargo.toml
  pallets/parachain-staking/src/lib.rs
  runtime/calamari/Cargo.toml
  runtime/manta/Cargo.toml
  runtime/manta/src/lib.rs
Labels: C-bug, A-calamari, A-automation, L-fixed

#1134 Release v4.0.8-1
  .github/ISSUE_TEMPLATE/release.md
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_manta.yml
  CHANGELOG.md
  runtime/calamari/src/lib.rs
  runtime/dolphin/src/lib.rs
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-manta, L-skip
