Repository Manta-Network/Manta, pull requests merged in 2023-07, with the labels that each got.

#1167 Retire dolphin runtime
  .github/workflows/check_tests.yml
  .github/workflows/publish_draft_releases.yml
  Cargo.lock
  README.md
  genesis/dolphin-2085-genesis.json
  genesis/dolphin-testnet-genesis.json
  genesis/dolphin-v3-2085-genesis.json
  node/Cargo.toml
  node/src/chain_specs/dolphin.rs
  node/src/chain_specs/mod.rs
  node/src/command.rs
  node/src/rpc/dolphin.rs
  node/src/rpc/mod.rs
  node/src/service.rs
  pallets/asset-manager/src/mock.rs
  pallets/manta-pay/README.md
  pallets/manta-pay/src/benchmark/mod.rs
  pallets/manta-pay/src/mock.rs
  pallets/manta-sbt/src/mock.rs
  primitives/manta/src/constants.rs
  primitives/manta/src/types.rs
  runtime/calamari/Cargo.toml
  runtime/dolphin/Cargo.toml
  runtime/dolphin/build.rs
  runtime/dolphin/src/assets_config.rs
  runtime/dolphin/src/currency.rs
  runtime/dolphin/src/impls.rs
  runtime/dolphin/src/lib.rs
  runtime/dolphin/src/nimbus_session_adapter.rs
  runtime/dolphin/src/weights/cumulus_pallet_xcmp_queue.rs
  runtime/dolphin/src/weights/frame_system.rs
  runtime/dolphin/src/weights/manta_collator_selection.rs
  runtime/dolphin/src/weights/mod.rs
  runtime/dolphin/src/weights/nimbus_session_adapter.rs
  runtime/dolphin/src/weights/pallet_asset_manager.rs
  runtime/dolphin/src/weights/pallet_assets.rs
  runtime/dolphin/src/weights/pallet_author_inherent.rs
  runtime/dolphin/src/weights/pallet_balances.rs
  runtime/dolphin/src/weights/pallet_collective.rs
  runtime/dolphin/src/weights/pallet_democracy.rs
  runtime/dolphin/src/weights/pallet_manta_pay.rs
  runtime/dolphin/src/weights/pallet_manta_sbt.rs
  runtime/dolphin/src/weights/pallet_membership.rs
  runtime/dolphin/src/weights/pallet_multisig.rs
  runtime/dolphin/src/weights/pallet_preimage.rs
  runtime/dolphin/src/weights/pallet_scheduler.rs
  runtime/dolphin/src/weights/pallet_session.rs
  runtime/dolphin/src/weights/pallet_timestamp.rs
  runtime/dolphin/src/weights/pallet_treasury.rs
  runtime/dolphin/src/weights/pallet_tx_pause.rs
  runtime/dolphin/src/weights/pallet_utility.rs
  runtime/dolphin/src/weights/xcm/mod.rs
  runtime/dolphin/src/weights/xcm/pallet_xcm_benchmarks_fungible.rs
  runtime/dolphin/src/weights/xcm/pallet_xcm_benchmarks_generic.rs
  runtime/dolphin/src/xcm_config.rs
  runtime/integration-tests/Cargo.toml
Labels: C-enhancement, A-runtime, A-dolphin, L-removed

#1190 Release v4300 (2) Remove fusotao deps
  Cargo.lock
Labels: C-enhancement, A-manta, A-calamari, A-runtime, L-skip

#1193 Revert to v0942 polkadot binary
  .github/resources/config-for-integration-test.json
  .github/resources/config-for-runtime-upgrade-test.json
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_manta.yml
Labels: C-enhancement, A-manta, A-calamari, A-runtime, A-testing, L-fixed

#1196 Fix dex ed
  Cargo.lock
Labels: C-bug, A-manta, L-fixed

#1198 Release v4.3.0 (DEX fix)
  CHANGELOG.md
  runtime/calamari/src/weights/zenlink_protocol.rs
  runtime/manta/src/weights/zenlink_protocol.rs
Labels: A-manta, A-calamari, A-runtime, C-cleanup, L-skip

#1197 check-tests CI workflow benchmark tests for manta-dev
  .github/workflows/check_tests.yml
Labels: C-enhancement, A-ci, A-testing, L-added

#1055 Allow xcm-transacts from all chains
  primitives/manta/src/xcm.rs
  runtime/calamari/src/xcm_config.rs
  runtime/integration-tests/src/xcm_mock/parachain.rs
  runtime/integration-tests/src/xcm_mock/xcm_tests.rs
  runtime/manta/src/xcm_config.rs
Labels: C-enhancement, A-manta, A-calamari, A-xcm, A-dolphin, L-added

#1208 Fix wrong reports of congestion test results
  .github/workflows/check_tests.yml
Labels: C-enhancement, A-ci, A-testing, L-fixed

#1207 Add mantapay rpc tests to manta runtime
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_manta.yml
  tests/stress_benchmark_test.ts
Labels: C-enhancement, A-manta, A-calamari, A-runtime, A-testing, L-added, A-client

#1216 Release v4.3.1 (unfilter pallet-xcm send, configure xcm send origin, equalize Manta and Calamari randomness - 1 epoch ago)
  .github/workflows/dco.yml
  CHANGELOG.md
  Cargo.lock
  node/Cargo.toml
  pallets/asset-manager/Cargo.toml
  pallets/collator-selection/Cargo.toml
  pallets/farming/Cargo.toml
  pallets/farming/rpc/Cargo.toml
  pallets/farming/rpc/runtime-api/Cargo.toml
  pallets/manta-pay/Cargo.toml
  pallets/manta-sbt/Cargo.toml
  pallets/manta-support/Cargo.toml
  pallets/name-service/Cargo.toml
  pallets/pallet-lottery/Cargo.toml
  pallets/parachain-staking/Cargo.toml
  pallets/randomness/Cargo.toml
  pallets/tx-pause/Cargo.toml
  pallets/vesting/Cargo.toml
  primitives/manta/Cargo.toml
  primitives/session-keys/Cargo.toml
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/calamari/src/weights/pallet_lottery.rs
  runtime/calamari/src/weights/xcm/pallet_xcm_benchmarks_fungible.rs
  runtime/calamari/src/weights/xcm/pallet_xcm_benchmarks_generic.rs
  runtime/calamari/src/xcm_config.rs
  runtime/common/Cargo.toml
  runtime/integration-tests/Cargo.toml
  runtime/integration-tests/src/xcm_mock/parachain.rs
  runtime/manta/Cargo.toml
  runtime/manta/src/lib.rs
  runtime/manta/src/weights/pallet_lottery.rs
  runtime/manta/src/weights/xcm/pallet_xcm_benchmarks_fungible.rs
  runtime/manta/src/weights/xcm/pallet_xcm_benchmarks_generic.rs
  runtime/manta/src/xcm_config.rs
Labels: C-enhancement, A-manta, A-calamari, A-runtime

#1211 fix(lottery): prevent depositing below min_deposit, don't fail drawing on no available collators, clarify sanity checks (no difference in behavior)
  pallets/pallet-lottery/src/lib.rs
  pallets/pallet-lottery/src/staking/deposit_strategies.rs
  pallets/pallet-lottery/src/staking/mod.rs
  pallets/pallet-lottery/src/tests.rs
Labels: C-bug, A-manta, A-calamari, L-fixed

#1220 Fix release binary building
  .github/workflows/publish_draft_releases.yml
  .github/workflows/runtime_upgrade_test.yml
Labels: C-bug, A-manta, A-calamari, A-automation, A-ci, L-fixed

#1221 Uncomment MantaPay RPC correctness and performance tests
  .github/workflows/integration_test_manta.yml
Labels: A-manta, A-ci, C-cleanup, L-changed

#1218 fix(lottery): drawings fail when restaking unstaked funds
  pallets/pallet-lottery/src/lib.rs
  pallets/pallet-lottery/src/staking/mod.rs
Labels: C-bug, A-manta, L-fixed

#1219 fix(lottery): `TooLowDelegationCountToDelegate` fails when funds withdrawing
  pallets/pallet-lottery/src/lib.rs
  pallets/pallet-lottery/src/mock.rs
  pallets/pallet-lottery/src/staking/mod.rs
  pallets/pallet-lottery/src/tests.rs
Labels: C-bug, A-manta, L-fixed

#1083 tx fees diff support
  .github/ISSUE_TEMPLATE/release.md
  Cargo.lock
  runtime/calamari/Cargo.toml
  runtime/calamari/src/diff_tx_fees.rs
  runtime/calamari/src/lib.rs
  runtime/calamari/tx-fees-data/4.3.1-tx-fees.csv
  runtime/calamari/tx-fees-data/README.md
  runtime/manta/Cargo.toml
  runtime/manta/src/diff_tx_fees.rs
  runtime/manta/src/lib.rs
  runtime/manta/tx-fees-data/4.3.1-tx-fees.csv
  runtime/manta/tx-fees-data/README.md
Labels: C-enhancement, A-weights, A-manta, A-calamari, A-ci, A-testing, L-added

#1227 Roll srtool image back to 1.66.1
  .github/workflows/publish_draft_releases.yml
  .github/workflows/runtime_upgrade_test.yml
Labels: C-bug, A-manta, A-calamari, A-automation, A-ci, L-fixed

#1226 Unfilter xTokens transfer-multiassets
  runtime/calamari/src/lib.rs
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-manta, A-calamari, A-xcm, L-changed

#1223 Block outgoing MANTA transfers on the XCM instruction level
  primitives/manta/src/xcm.rs
  runtime/calamari/src/xcm_config.rs
  runtime/integration-tests/src/xcm_mock/parachain.rs
  runtime/integration-tests/src/xcm_mock/relay_chain.rs
  runtime/integration-tests/src/xcm_mock/xcm_tests.rs
  runtime/manta/src/xcm_config.rs
Labels: C-enhancement, A-manta, A-calamari, A-xcm, L-changed

#1217 farming rpc test
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_manta.yml
  tests/chain-util.ts
  tests/manta_pay.ts
  tests/package.json
  tests/runtime_upgrade_test.ts
  tests/test-farming.ts
  tests/types.ts
Labels: C-enhancement, A-manta, A-calamari, L-added

#1212 Add Permissionless Asset Registry Feature
  pallets/asset-manager/Cargo.toml
  pallets/asset-manager/src/benchmarking.rs
  pallets/asset-manager/src/lib.rs
  pallets/asset-manager/src/mock.rs
  pallets/asset-manager/src/tests.rs
  pallets/asset-manager/src/weights.rs
  pallets/farming/src/benchmarking.rs
  pallets/farming/src/mock.rs
  pallets/manta-pay/Cargo.toml
  pallets/manta-pay/src/mock.rs
  pallets/manta-sbt/src/mock.rs
  primitives/manta/src/assets.rs
  runtime/calamari/src/assets_config.rs
  runtime/calamari/src/diff_tx_fees.rs
  runtime/calamari/src/weights/pallet_asset_manager.rs
  runtime/calamari/tx-fees-data/README.md
  runtime/integration-tests/src/integrations_mock/mod.rs
  runtime/integration-tests/src/integrations_mock/test_common.rs
  runtime/integration-tests/src/xcm_mock/parachain.rs
  runtime/manta/src/assets_config.rs
  runtime/manta/src/diff_tx_fees.rs
  runtime/manta/src/weights/pallet_asset_manager.rs
  runtime/manta/tx-fees-data/README.md
Labels: A-manta, A-calamari, C-experiment, A-manta-pay, L-added

#1235 Update reference hardware and lower CI machine specs
  .github/workflows/check_tests.yml
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_manta.yml
  .github/workflows/metadata_diff.yml
  .github/workflows/publish_draft_releases.yml
  .github/workflows/run_all_benchmarks.yml
  .github/workflows/run_linters.yml
  .github/workflows/runtime_upgrade_test.yml
  .github/workflows/try-runtime-mainnet.yml
Labels: C-enhancement, A-manta, A-calamari, A-ci, L-changed

#1234 Serialize/deserialize vfr key
  Cargo.lock
  primitives/session-keys/Cargo.toml
  primitives/session-keys/src/vrf.rs
  runtime/calamari/src/nimbus_session_adapter.rs
  runtime/manta/src/nimbus_session_adapter.rs
Labels: C-enhancement, A-manta, A-calamari, A-serialization, L-fixed

#1191 Fix metadata diff checker workflow
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_manta.yml
  .github/workflows/metadata_diff.yml
Labels: C-enhancement, A-manta, A-calamari, A-automation, A-ci, L-fixed

#1240 :sparkle: org `arc-runner` patch 1
  .github/workflows/metadata_diff.yml
  .github/workflows/publish_draft_releases.yml
  .github/workflows/run_linters.yml
Labels: A-manta, A-calamari, A-automation, L-added
