Repository Manta-Network/Manta, pull requests merged in 2023-08, with the labels that each got.

#1238 localdev tests
  .github/workflows/integration_test_manta.yml
  tests/constants.ts
  tests/package.json
  tests/test-farming.ts
  tests/tests/test-assets.ts
  tests/tests/test-balance.ts
  tests/tests/test-dex.ts
  tests/tests/util.ts
  tests/yarn.lock
Labels: C-enhancement, A-manta, L-added

#1237 Zombienet migration
  .github/resources/config-for-integration-test.json
  .github/resources/config-for-runtime-upgrade-test.json
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_manta.yml
  .github/workflows/metadata_diff.yml
  .github/workflows/runtime_upgrade_test.yml
  zombienet/tests/0001-block-production.toml
  zombienet/tests/0001-block-production.zndsl
  zombienet/tests/0002-runtime-upgrade.toml
  zombienet/tests/0002-runtime-upgrade.zndsl
  zombienet/tests/0003-metadata-diff.toml
Labels: C-enhancement, A-manta, A-calamari, A-automation, A-ci, C-cleanup, A-testing, L-changed

#1242 :rocket: arc runner migration patch 2.1
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/check_tests.yml
  .github/workflows/docker.yml
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_manta.yml
  .github/workflows/label_checker.yml
  .github/workflows/metadata_diff.yml
  .github/workflows/publish_draft_releases.yml
  .github/workflows/run_all_benchmarks.yml
  .github/workflows/run_linters.yml
  .github/workflows/runtime_upgrade_test.yml
  .github/workflows/try-runtime-mainnet.yml
  tests/stress_benchmark_test.ts
  zombienet/tests/0001-block-production.toml
  zombienet/tests/0001-block-production.zndsl
Labels: C-enhancement, A-manta, A-calamari, A-automation, L-added, A-benchmark-checks, A-integration-test-checks, A-congestion-test-checks, A-unit-test-checks

#1243 Add manta docker image to publish
  .github/workflows/check_tests.yml
  .github/workflows/docker.yml
Labels: A-automation, A-ci, C-cleanup, L-fixed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1244 more lottery tests
  .github/workflows/benchmark_tests.yaml
  .github/workflows/check_tests.yml
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_manta.yml
  .github/workflows/unit_tests.yaml
  pallets/pallet-lottery/src/tests.rs
Labels: A-manta, A-calamari, C-good-first-issue, L-added, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1250 :wrench: allow all benchmarks to be triggered on feature branch
  .github/workflows/run_all_benchmarks.yml
Labels: L-added, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1236 Update Asset metadata call to not have dummy parameters
  pallets/asset-manager/src/benchmarking.rs
  pallets/asset-manager/src/lib.rs
  pallets/asset-manager/src/tests.rs
  runtime/calamari/src/diff_tx_fees.rs
  runtime/manta/src/diff_tx_fees.rs
Labels: A-manta, A-calamari, A-runtime, C-cleanup, L-fixed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks
