Repository Manta-Network/Manta, pull requests merged in 2023-12, with the labels that each got.

#1281 :rocket: update `public draft releases` trigger condition
  .github/workflows/publish_draft_releases.yml
Labels: L-fixed, A-benchmark-checks, A-integration-test-checks, A-congestion-test-checks, A-unit-test-checks

#1282 Bump srtool
  .github/workflows/publish_draft_releases.yml
  .github/workflows/runtime_upgrade_test.yml
Labels: L-fixed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1283 Fix srtool image tag
  .github/workflows/publish_draft_releases.yml
  .github/workflows/runtime_upgrade_test.yml
Labels: L-fixed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1287 :bug: fix messed up github history
  .github/workflows/publish_draft_releases.yml
  .github/workflows/runtime_upgrade_test.yml
Labels: L-fixed, A-benchmark-checks, A-integration-test-checks, A-congestion-test-checks, A-unit-test-checks

#1288 Fix storage migration for assets-manager
  runtime/calamari/src/migrations/asset_manager.rs
  runtime/manta/src/migrations/asset_manager.rs
Labels: A-manta, A-calamari, L-fixed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks
