Repository Manta-Network/Manta, pull requests merged in 2023-03, with the labels that each got.

#1031 Verbose Error Handling
  pallets/manta-pay/src/errors.rs
  pallets/manta-pay/src/lib.rs
  pallets/manta-pay/src/mock.rs
  pallets/manta-pay/src/test/payment.rs
  primitives/manta/src/constants.rs
  runtime/calamari/src/assets_config.rs
  runtime/calamari/src/lib.rs
  runtime/dolphin/src/assets_config.rs
Labels: C-enhancement, A-calamari, A-dolphin, A-manta-pay, L-changed

#1032 Security: Include the sink AccountId in the signed message for ToPublic transactions
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_dolphin.yml
  Cargo.lock
  pallets/manta-pay/Cargo.toml
  pallets/manta-pay/src/benchmark/mod.rs
  pallets/manta-pay/src/benchmark/precomputed_coins.rs
  pallets/manta-pay/src/bin/precompute_coins.rs
  pallets/manta-pay/src/errors.rs
  pallets/manta-pay/src/lib.rs
  pallets/manta-pay/src/test/payment.rs
  pallets/manta-pay/src/types.rs
Labels: A-manta, A-calamari, A-security, L-fixed

#1043 Add self-bond filter condition when computing new set of collators
  .github/workflows/integration_test_calamari.yml
  .github/workflows/run_linters.yml
  pallets/parachain-staking/src/lib.rs
  runtime/calamari/tests/integrations_mock/integration_tests.rs
  runtime/calamari/tests/integrations_mock/mod.rs
Labels: C-bug, A-calamari, L-fixed

#1044 Release 4.0.4
  .github/ISSUE_TEMPLATE/release.md
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_dolphin.yml
  .github/workflows/metadata_diff.yml
  .github/workflows/runtime_upgrade_test.yml
  CHANGELOG.md
  Cargo.lock
  node/Cargo.toml
  pallets/asset-manager/Cargo.toml
  pallets/collator-selection/Cargo.toml
  pallets/manta-pay/Cargo.toml
  pallets/parachain-staking/Cargo.toml
  pallets/tx-pause/Cargo.toml
  pallets/vesting/Cargo.toml
  primitives/manta/Cargo.toml
  primitives/session-keys/Cargo.toml
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/calamari/src/weights/calamari_vesting.rs
  runtime/calamari/src/weights/cumulus_pallet_xcmp_queue.rs
  runtime/calamari/src/weights/frame_system.rs
  runtime/calamari/src/weights/manta_collator_selection.rs
  runtime/calamari/src/weights/pallet_asset_manager.rs
  runtime/calamari/src/weights/pallet_assets.rs
  runtime/calamari/src/weights/pallet_author_inherent.rs
  runtime/calamari/src/weights/pallet_balances.rs
  runtime/calamari/src/weights/pallet_collective.rs
  runtime/calamari/src/weights/pallet_democracy.rs
  runtime/calamari/src/weights/pallet_manta_pay.rs
  runtime/calamari/src/weights/pallet_membership.rs
  runtime/calamari/src/weights/pallet_multisig.rs
  runtime/calamari/src/weights/pallet_parachain_staking.rs
  runtime/calamari/src/weights/pallet_preimage.rs
  runtime/calamari/src/weights/pallet_scheduler.rs
  runtime/calamari/src/weights/pallet_session.rs
  runtime/calamari/src/weights/pallet_timestamp.rs
  runtime/calamari/src/weights/pallet_treasury.rs
  runtime/calamari/src/weights/pallet_tx_pause.rs
  runtime/calamari/src/weights/pallet_utility.rs
  runtime/calamari/src/weights/xcm/pallet_xcm_benchmarks_fungible.rs
  runtime/calamari/src/weights/xcm/pallet_xcm_benchmarks_generic.rs
  runtime/common/Cargo.toml
  runtime/dolphin/Cargo.toml
  runtime/dolphin/src/lib.rs
  runtime/manta/Cargo.toml
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-calamari, L-skip

#1047 Transaction fees bump
  runtime/calamari/src/fee.rs
  runtime/calamari/src/lib.rs
  runtime/common/src/lib.rs
  runtime/dolphin/src/fee.rs
  runtime/dolphin/src/lib.rs
Labels: C-enhancement, A-calamari, A-dolphin, L-fixed

#1049 v4.0.4 Re-Release
  CHANGELOG.md
Labels: C-enhancement, A-calamari, L-skip

#1056 Fixup: Don't run PR commenting code on non-PRs
  .github/workflows/check_tests.yml
Labels: C-bug, A-ci, L-skip
