Repository Manta-Network/Manta, pull requests merged in 2023-06, with the labels that each got.

#1122 dex amm
  Cargo.lock
  node/Cargo.toml
  node/src/rpc/calamari.rs
  pallets/asset-manager/src/benchmarking.rs
  pallets/asset-manager/src/lib.rs
  pallets/asset-manager/src/tests.rs
  pallets/asset-manager/src/weights.rs
  pallets/collator-selection/Cargo.toml
  primitives/manta/src/assets.rs
  primitives/manta/src/types.rs
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/calamari/src/weights/mod.rs
  runtime/calamari/src/weights/pallet_asset_manager.rs
  runtime/calamari/src/weights/zenlink_protocol.rs
  runtime/calamari/src/zenlink.rs
  runtime/dolphin/src/weights/pallet_asset_manager.rs
  runtime/manta/src/weights/pallet_asset_manager.rs
Labels: A-calamari, A-security, C-experiment, L-added

#1125 Remove UtxoAccumulator from MantaSbt
  pallets/manta-sbt/src/lib.rs
Labels: A-manta, A-calamari, A-runtime, C-cleanup, L-fixed

#1135 Add MantaSBT to Manta Runtime
  Cargo.lock
  node/src/command.rs
  node/src/rpc/manta.rs
  node/src/rpc/mod.rs
  pallets/manta-sbt/src/lib.rs
  pallets/manta-sbt/src/mock.rs
  runtime/calamari/src/assets_config.rs
  runtime/dolphin/src/assets_config.rs
  runtime/manta/Cargo.toml
  runtime/manta/src/assets_config.rs
  runtime/manta/src/lib.rs
  runtime/manta/src/weights/mod.rs
  runtime/manta/src/weights/pallet_manta_sbt.rs
Labels: C-enhancement, A-manta, A-runtime, L-added

#1137 Add mantapay to manta runtime
  .github/workflows/check_tests.yml
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_manta.yml
  .github/workflows/metadata_diff.yml
  .github/workflows/run_all_benchmarks.yml
  .github/workflows/try-runtime-mainnet.yml
  Cargo.lock
  node/src/command.rs
  node/src/rpc/common.rs
  node/src/rpc/manta.rs
  node/src/rpc/mod.rs
  runtime/manta/Cargo.toml
  runtime/manta/src/assets_config.rs
  runtime/manta/src/lib.rs
  runtime/manta/src/weights/mod.rs
  runtime/manta/src/weights/pallet_manta_pay.rs
Labels: C-enhancement, A-manta, A-manta-pay, L-added

#1138 Check manta and calamari lease expiration
  .github/workflows/check_parachain_lease_expiration.yml
  tests/check_parachain_lease_expiration.ts
  tests/package.json
  tests/yarn.lock
Labels: C-enhancement, A-manta, A-calamari, A-ci, L-added

#1148 Release v4.1.0-1
  runtime/calamari/src/lib.rs
  runtime/dolphin/src/lib.rs
  runtime/manta/src/lib.rs
  runtime/manta/src/xcm_config.rs
Labels: C-enhancement, A-manta, A-runtime, L-skip

#1153 Release v4.1.0-2
  runtime/calamari/src/lib.rs
  runtime/dolphin/src/lib.rs
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-manta, A-runtime, L-skip

#1147 Add Polkadot Signature Allowlist
  pallets/manta-sbt/Cargo.toml
  pallets/manta-sbt/src/benchmark/mod.rs
  pallets/manta-sbt/src/lib.rs
  pallets/manta-sbt/src/mock.rs
  pallets/manta-sbt/src/tests.rs
  pallets/manta-sbt/src/weights.rs
  runtime/calamari/src/assets_config.rs
  runtime/calamari/src/weights/pallet_manta_sbt.rs
  runtime/dolphin/src/assets_config.rs
  runtime/dolphin/src/weights/pallet_manta_sbt.rs
  runtime/manta/src/assets_config.rs
  runtime/manta/src/weights/pallet_manta_sbt.rs
Labels: C-enhancement, A-manta, A-calamari, A-runtime, L-added

#1156 Release v4.2.0
  CHANGELOG.md
  node/Cargo.toml
  pallets/asset-manager/Cargo.toml
  pallets/collator-selection/Cargo.toml
  pallets/manta-pay/Cargo.toml
  pallets/manta-sbt/Cargo.toml
  pallets/manta-support/Cargo.toml
  pallets/parachain-staking/Cargo.toml
  pallets/tx-pause/Cargo.toml
  pallets/vesting/Cargo.toml
  primitives/manta/Cargo.toml
  primitives/session-keys/Cargo.toml
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/calamari/src/weights/calamari_vesting.rs
  runtime/calamari/src/weights/cumulus_pallet_xcmp_queue.rs
  runtime/calamari/src/weights/frame_system.rs
  runtime/calamari/src/weights/manta_collator_selection.rs
  runtime/calamari/src/weights/pallet_asset_manager.rs
  runtime/calamari/src/weights/pallet_assets.rs
  runtime/calamari/src/weights/pallet_author_inherent.rs
  runtime/calamari/src/weights/pallet_balances.rs
  runtime/calamari/src/weights/pallet_collective.rs
  runtime/calamari/src/weights/pallet_democracy.rs
  runtime/calamari/src/weights/pallet_manta_pay.rs
  runtime/calamari/src/weights/pallet_manta_sbt.rs
  runtime/calamari/src/weights/pallet_membership.rs
  runtime/calamari/src/weights/pallet_multisig.rs
  runtime/calamari/src/weights/pallet_parachain_staking.rs
  runtime/calamari/src/weights/pallet_preimage.rs
  runtime/calamari/src/weights/pallet_scheduler.rs
  runtime/calamari/src/weights/pallet_session.rs
  runtime/calamari/src/weights/pallet_timestamp.rs
  runtime/calamari/src/weights/pallet_treasury.rs
  runtime/calamari/src/weights/pallet_tx_pause.rs
  runtime/calamari/src/weights/pallet_utility.rs
  runtime/calamari/src/weights/xcm/pallet_xcm_benchmarks_fungible.rs
  runtime/calamari/src/weights/xcm/pallet_xcm_benchmarks_generic.rs
  runtime/calamari/src/weights/zenlink_protocol.rs
  runtime/common/Cargo.toml
  runtime/dolphin/Cargo.toml
  runtime/dolphin/src/lib.rs
  runtime/integration-tests/Cargo.toml
  runtime/manta/Cargo.toml
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-calamari, A-runtime, L-skip

#1157 Add missing cargo lock
  Cargo.lock
Labels: C-enhancement, A-calamari, A-runtime, L-skip

#1169 Fix check-tests CI workflow
  .github/workflows/check_tests.yml
Labels: C-bug, A-manta, A-calamari, L-fixed

#1127 Add check that public asset is restricted
  node/src/chain_specs/calamari.rs
  node/src/chain_specs/dolphin.rs
  node/src/chain_specs/manta/mod.rs
  pallets/manta-pay/src/lib.rs
  pallets/manta-pay/src/test/payment.rs
  pallets/manta-support/src/manta_pay.rs
Labels: C-enhancement, A-calamari, A-runtime, A-manta-pay, L-changed

#1173 Add missing runtime-benchmarks features
  runtime/integration-tests/Cargo.toml
Labels: C-bug, A-manta, A-calamari, A-ci, L-fixed

#1175 Fix congestion test CI
  .github/workflows/check_tests.yml
Labels: C-enhancement, A-manta, A-calamari, A-ci, L-fixed

#1165 Manta v4201 hotfix release
  CHANGELOG.md
  pallets/manta-sbt/src/weights.rs
  runtime/calamari/src/assets_config.rs
  runtime/calamari/src/lib.rs
  runtime/dolphin/src/lib.rs
  runtime/manta/src/assets_config.rs
  runtime/manta/src/lib.rs
  runtime/manta/src/weights/cumulus_pallet_xcmp_queue.rs
  runtime/manta/src/weights/frame_system.rs
  runtime/manta/src/weights/manta_collator_selection.rs
  runtime/manta/src/weights/pallet_asset_manager.rs
  runtime/manta/src/weights/pallet_assets.rs
  runtime/manta/src/weights/pallet_author_inherent.rs
  runtime/manta/src/weights/pallet_balances.rs
  runtime/manta/src/weights/pallet_collective.rs
  runtime/manta/src/weights/pallet_democracy.rs
  runtime/manta/src/weights/pallet_manta_pay.rs
  runtime/manta/src/weights/pallet_manta_sbt.rs
  runtime/manta/src/weights/pallet_membership.rs
  runtime/manta/src/weights/pallet_multisig.rs
  runtime/manta/src/weights/pallet_parachain_staking.rs
  runtime/manta/src/weights/pallet_preimage.rs
  runtime/manta/src/weights/pallet_scheduler.rs
  runtime/manta/src/weights/pallet_session.rs
  runtime/manta/src/weights/pallet_timestamp.rs
  runtime/manta/src/weights/pallet_treasury.rs
  runtime/manta/src/weights/pallet_tx_pause.rs
  runtime/manta/src/weights/pallet_utility.rs
  runtime/manta/src/weights/xcm/pallet_xcm_benchmarks_fungible.rs
  runtime/manta/src/weights/xcm/pallet_xcm_benchmarks_generic.rs
Labels: C-enhancement, A-manta, A-runtime, L-skip

#1150 Rebenchmark pallet-mantapay
  .github/workflows/check_tests.yml
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_manta.yml
  .github/workflows/metadata_diff.yml
  .github/workflows/publish_draft_releases.yml
  .github/workflows/run_all_benchmarks.yml
  .github/workflows/run_linters.yml
  .github/workflows/try-runtime-mainnet.yml
  pallets/asset-manager/src/benchmarking.rs
  pallets/manta-pay/Cargo.toml
  pallets/manta-pay/src/benchmark/mod.rs
  pallets/manta-pay/src/benchmark/precomputed_coins.rs
Labels: A-weights, A-manta, A-calamari, A-automation, A-ci, A-development, A-manta-pay, L-changed

#1179 Copy Name Service Pallet
  Cargo.lock
  node/src/rpc/calamari.rs
  pallets/name-service/Cargo.toml
  pallets/name-service/README.md
  pallets/name-service/src/benchmarking.rs
  pallets/name-service/src/lib.rs
  pallets/name-service/src/mock.rs
  pallets/name-service/src/tests.rs
  pallets/name-service/src/weights.rs
  primitives/manta/src/constants.rs
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/calamari/src/weights/mod.rs
  runtime/calamari/src/weights/pallet_name_service.rs
Labels: C-enhancement, A-calamari, A-development, L-added
