Repository Manta-Network/Manta, pull requests merged in 2023-01, with the labels that each got.

#956 Reduce running time for CI tests
  .github/workflows/check_tests.yml
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_dolphin.yml
Labels: C-enhancement, A-calamari, A-ci, A-dolphin, L-changed

#870 Manual seal mode for dev
  Cargo.lock
  node/Cargo.toml
  node/src/builder.rs
  node/src/chain_specs/calamari.rs
  node/src/chain_specs/dolphin.rs
  node/src/command.rs
  node/src/instant_finalize.rs
  node/src/lib.rs
  node/src/service.rs
Labels: A-calamari, P-low, A-dolphin, C-experiment, L-added, A-client

#966 Bump storage trie version for manta RT
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-manta, L-changed

#978 xcm fee of native token to treasury
  runtime/calamari/src/xcm_config.rs
  runtime/calamari/tests/xcm_mock/parachain.rs
  runtime/calamari/tests/xcm_mock/xcm_tests.rs
  runtime/dolphin/src/xcm_config.rs
Labels: C-enhancement, A-calamari, A-runtime, A-xcm, A-dolphin, L-changed

#981 Upgrade to manta-rs v0.5.9, switch to mainnet keys, fix ledger error handling
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_dolphin.yml
  Cargo.lock
  pallets/manta-pay/Cargo.toml
  pallets/manta-pay/src/benchmark/precomputed_coins.rs
  pallets/manta-pay/src/lib.rs
Labels: A-manta, A-calamari, A-dolphin, A-manta-pay, L-changed

#982 Fix codec issue for dense-pull-ledger-diff
  pallets/manta-pay/Cargo.toml
  pallets/manta-pay/src/lib.rs
  pallets/manta-pay/src/rpc.rs
  pallets/manta-pay/src/runtime.rs
  pallets/manta-pay/src/test/payment.rs
  pallets/manta-pay/src/types.rs
  runtime/calamari/src/lib.rs
  runtime/dolphin/src/lib.rs
Labels: C-bug, A-calamari, P-high, A-dolphin, A-manta-pay, L-fixed, A-client

#976 Move all imported constants to our code base
  .github/resources/frame-weight-template.hbs
  primitives/manta/src/constants.rs
  primitives/manta/src/xcm.rs
  runtime/calamari/src/fee.rs
  runtime/calamari/src/lib.rs
  runtime/calamari/tests/integrations_mock/integration_tests.rs
  runtime/calamari/tests/xcm_mock/parachain.rs
  runtime/calamari/tests/xcm_mock/xcm_tests.rs
  runtime/common/src/lib.rs
  runtime/common/src/migration.rs
  runtime/dolphin/src/lib.rs
  runtime/manta/src/fee.rs
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-calamari, A-runtime, A-dolphin, L-changed

#967 Bump Polkadot Dependencies to v0.9.28
  .github/workflows/check_tests.yml
  Cargo.lock
  node/Cargo.toml
  node/src/builder.rs
  node/src/command.rs
  node/src/service.rs
  pallets/asset-manager/Cargo.toml
  pallets/collator-selection/Cargo.toml
  pallets/manta-pay/Cargo.toml
  pallets/parachain-staking/Cargo.toml
  pallets/tx-pause/Cargo.toml
  pallets/vesting/Cargo.toml
  primitives/manta/Cargo.toml
  primitives/session-keys/Cargo.toml
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/common/Cargo.toml
  runtime/dolphin/Cargo.toml
  runtime/dolphin/src/lib.rs
  runtime/manta/Cargo.toml
  runtime/manta/src/lib.rs
Labels: A-manta, A-calamari, A-dolphin, A-polkadot-dependency, L-changed, R-polkadot-v0.9.28

#977 Suspend MantaPay when InternalLedgerError
  Cargo.lock
  pallets/manta-pay/Cargo.toml
  pallets/manta-pay/src/lib.rs
  pallets/manta-pay/src/mock.rs
  pallets/manta-pay/src/test/payment.rs
  runtime/calamari/src/assets_config.rs
  runtime/calamari/src/lib.rs
  runtime/calamari/tests/integrations_mock/integration_tests.rs
  runtime/dolphin/src/assets_config.rs
Labels: C-enhancement, A-calamari, A-dolphin, L-changed

#994 Release v4.0.1
  .github/resources/frame-weight-template.hbs
  CHANGELOG.md
  Cargo.lock
  node/Cargo.toml
  pallets/asset-manager/Cargo.toml
  pallets/collator-selection/Cargo.toml
  pallets/manta-pay/Cargo.toml
  pallets/parachain-staking/Cargo.toml
  pallets/parachain-staking/src/lib.rs
  pallets/tx-pause/Cargo.toml
  pallets/vesting/Cargo.toml
  primitives/manta/Cargo.toml
  primitives/session-keys/Cargo.toml
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/calamari/src/weights/calamari_vesting.rs
  runtime/calamari/src/weights/cumulus_pallet_xcmp_queue.rs
  runtime/calamari/src/weights/frame_system.rs
  runtime/calamari/src/weights/manta_collator_selection.rs
  runtime/calamari/src/weights/pallet_asset_manager.rs
  runtime/calamari/src/weights/pallet_assets.rs
  runtime/calamari/src/weights/pallet_author_inherent.rs
  runtime/calamari/src/weights/pallet_balances.rs
  runtime/calamari/src/weights/pallet_collective.rs
  runtime/calamari/src/weights/pallet_democracy.rs
  runtime/calamari/src/weights/pallet_manta_pay.rs
  runtime/calamari/src/weights/pallet_membership.rs
  runtime/calamari/src/weights/pallet_multisig.rs
  runtime/calamari/src/weights/pallet_parachain_staking.rs
  runtime/calamari/src/weights/pallet_preimage.rs
  runtime/calamari/src/weights/pallet_scheduler.rs
  runtime/calamari/src/weights/pallet_session.rs
  runtime/calamari/src/weights/pallet_timestamp.rs
  runtime/calamari/src/weights/pallet_treasury.rs
  runtime/calamari/src/weights/pallet_tx_pause.rs
  runtime/calamari/src/weights/pallet_utility.rs
  runtime/calamari/src/weights/xcm/pallet_xcm_benchmarks_fungible.rs
  runtime/calamari/src/weights/xcm/pallet_xcm_benchmarks_generic.rs
  runtime/common/Cargo.toml
  runtime/dolphin/Cargo.toml
  runtime/dolphin/src/lib.rs
  runtime/manta/Cargo.toml
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-manta, A-calamari, A-runtime, A-dolphin, L-skip

#996 Minor postrelease fixups to CI and Release Checklist
  .github/ISSUE_TEMPLATE/release.md
  .github/workflows/publish_draft_releases.yml
Labels: C-enhancement, A-development, L-skip

#999 Add standalone dev chain directions to README
  README.md
Labels: A-documentation, C-enhancement, L-skip

#968 fix benchmarks, paraID and genesis
  genesis/manta-genesis-raw.json
  genesis/manta-genesis.json
  node/src/chain_specs/manta.rs
  node/src/chain_specs/manta/mainnet_genesis.rs
  node/src/chain_specs/manta/mod.rs
  node/src/command.rs
  pallets/parachain-staking/src/benchmarks.rs
  runtime/manta/Cargo.toml
  runtime/manta/src/lib.rs
  runtime/manta/src/weights/frame_system.rs
  runtime/manta/src/weights/manta_collator_selection.rs
  runtime/manta/src/weights/pallet_author_inherent.rs
  runtime/manta/src/weights/pallet_balances.rs
  runtime/manta/src/weights/pallet_multisig.rs
  runtime/manta/src/weights/pallet_parachain_staking.rs
  runtime/manta/src/weights/pallet_preimage.rs
  runtime/manta/src/weights/pallet_session.rs
  runtime/manta/src/weights/pallet_timestamp.rs
  runtime/manta/src/weights/pallet_utility.rs
  runtime/manta/src/xcm_config.rs
Labels: A-manta, C-cleanup, L-fixed
