Repository Manta-Network/Manta, pull requests merged in 2023-11, with the labels that each got.

#1261 Add Farming functionality to Lottery
  Cargo.lock
  node/src/chain_specs/calamari.rs
  node/src/chain_specs/manta/mod.rs
  pallets/farming/src/lib.rs
  pallets/pallet-lottery/Cargo.toml
  pallets/pallet-lottery/src/lib.rs
  pallets/pallet-lottery/src/mock.rs
  pallets/pallet-lottery/src/tests.rs
  runtime/calamari/src/diff_tx_fees.rs
  runtime/calamari/src/lib.rs
  runtime/manta/src/diff_tx_fees.rs
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-runtime, L-added, A-benchmark-checks, A-integration-test-checks, A-congestion-test-checks, A-unit-test-checks

#1260 fix manta testnet dns
  node/src/chain_specs/manta/public_testnet_genesis.rs
  tests/check_parachain_lease_expiration.ts
Labels: C-cleanup, A-development, L-fixed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1264 Release v4.5.0
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_manta.yml
  .github/workflows/metadata_diff.yml
  CHANGELOG.md
  node/Cargo.toml
  pallets/asset-manager/Cargo.toml
  pallets/collator-selection/Cargo.toml
  pallets/farming/Cargo.toml
  pallets/farming/rpc/Cargo.toml
  pallets/farming/rpc/runtime-api/Cargo.toml
  pallets/manta-pay/Cargo.toml
  pallets/manta-sbt/Cargo.toml
  pallets/manta-support/Cargo.toml
  pallets/name-service/Cargo.toml
  pallets/pallet-lottery/Cargo.toml
  pallets/parachain-staking/Cargo.toml
  pallets/randomness/Cargo.toml
  pallets/tx-pause/Cargo.toml
  pallets/vesting/Cargo.toml
  primitives/manta/Cargo.toml
  primitives/session-keys/Cargo.toml
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/common/Cargo.toml
  runtime/integration-tests/Cargo.toml
  runtime/manta/Cargo.toml
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-manta, A-calamari, A-runtime, L-skip, A-benchmark-checks, A-integration-test-checks, A-congestion-test-checks, A-unit-test-checks

#1265 update Cargo.lock
  Cargo.lock
Labels: C-enhancement, A-calamari, A-runtime, L-fixed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1267 Release v4.5.0
  CHANGELOG.md
Labels: A-calamari, L-fixed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1259 fix typos in docs and comments
  README.md
  pallets/asset-manager/src/lib.rs
  pallets/manta-pay/src/lib.rs
  pallets/manta-sbt/src/lib.rs
  pallets/vesting/src/lib.rs
Labels: A-documentation, C-cleanup, L-skip, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks
