Repository Manta-Network/Manta, pull requests merged in 2024-03, with the labels that each got.

#1315 change lp asset check
  pallets/asset-manager/src/lib.rs
  pallets/asset-manager/src/tests.rs
Labels: C-bug, A-manta, L-fixed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1320 unfilter XTokens on Manta
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_manta.yml
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-manta, A-calamari, A-runtime, L-changed, A-benchmark-checks, A-integration-test-checks, A-congestion-test-checks, A-unit-test-checks

#1313 :wrench: update `manta-genosis`
  genesis/manta-genesis.json
Labels: L-changed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1317 Unfilter transfer for assets
  .github/workflows/integration_test_calamari.yml
  .github/workflows/integration_test_manta.yml
  .github/workflows/metadata_diff.yml
  runtime/manta/src/lib.rs
Labels: A-manta, A-runtime, L-changed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1328 fix kick lottery
  Cargo.toml
  pallets/pallet-lottery/Cargo.toml
  pallets/pallet-lottery/src/mock.rs
  pallets/pallet-lottery/src/staking/deposit_strategies.rs
  pallets/pallet-lottery/src/staking/mod.rs
  pallets/pallet-lottery/src/staking/withdraw_strategies.rs
  pallets/pallet-lottery/src/tests.rs
  runtime/manta/Cargo.toml
Labels: C-bug, A-manta, L-fixed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1326 Release v4.6.2
  Cargo.lock
  Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-manta, A-calamari, A-runtime, L-fixed, L-release, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1329 Fix ruby setup in ci
  .github/workflows/publish_draft_releases.yml
Labels: C-bug, A-ci, L-fixed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks
