Repository Manta-Network/Manta, pull requests merged in 2024-05, with the labels that each got.

#1331 fix lottery withdraw issue
  pallets/pallet-lottery/src/staking/deposit_strategies.rs
  pallets/pallet-lottery/src/staking/mod.rs
  pallets/pallet-lottery/src/tests.rs
Labels: C-bug, A-manta, L-fixed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1330 chore: fix typos and link broken
  pallets/manta-support/src/manta_pay.rs
  pallets/parachain-staking/README.md
  pallets/randomness/README.md
Labels: A-documentation, C-cleanup, L-skip, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1333 Fix xcm benchmark tests
  pallets/asset-manager/src/benchmarking.rs
  runtime/calamari/src/lib.rs
  runtime/manta/src/lib.rs
  scripts/benchmarking/run_all_benchmarks.sh
  tests/check_parachain_lease_expiration.ts
Labels: A-manta, A-calamari, A-ci, A-testing, L-fixed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1335 Release v4.7.0
  .github/resources/frame-weight-template.hbs
  Cargo.lock
  Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/calamari/src/weights/calamari_vesting.rs
  runtime/calamari/src/weights/cumulus_pallet_xcmp_queue.rs
  runtime/calamari/src/weights/frame_system.rs
  runtime/calamari/src/weights/manta_collator_selection.rs
  runtime/calamari/src/weights/pallet_asset_manager.rs
  runtime/calamari/src/weights/pallet_assets.rs
  runtime/calamari/src/weights/pallet_balances.rs
  runtime/calamari/src/weights/pallet_collective.rs
  runtime/calamari/src/weights/pallet_democracy.rs
  runtime/calamari/src/weights/pallet_farming.rs
  runtime/calamari/src/weights/pallet_lottery.rs
  runtime/calamari/src/weights/pallet_manta_pay.rs
  runtime/calamari/src/weights/pallet_manta_sbt.rs
  runtime/calamari/src/weights/pallet_membership.rs
  runtime/calamari/src/weights/pallet_multisig.rs
  runtime/calamari/src/weights/pallet_name_service.rs
  runtime/calamari/src/weights/pallet_parachain_staking.rs
  runtime/calamari/src/weights/pallet_preimage.rs
  runtime/calamari/src/weights/pallet_randomness.rs
  runtime/calamari/src/weights/pallet_scheduler.rs
  runtime/calamari/src/weights/pallet_session.rs
  runtime/calamari/src/weights/pallet_timestamp.rs
  runtime/calamari/src/weights/pallet_treasury.rs
  runtime/calamari/src/weights/pallet_tx_pause.rs
  runtime/calamari/src/weights/pallet_utility.rs
  runtime/manta/src/lib.rs
  runtime/manta/src/weights/cumulus_pallet_xcmp_queue.rs
  runtime/manta/src/weights/frame_system.rs
  runtime/manta/src/weights/manta_collator_selection.rs
  runtime/manta/src/weights/pallet_asset_manager.rs
  runtime/manta/src/weights/pallet_assets.rs
  runtime/manta/src/weights/pallet_balances.rs
  runtime/manta/src/weights/pallet_collective.rs
  runtime/manta/src/weights/pallet_democracy.rs
  runtime/manta/src/weights/pallet_farming.rs
  runtime/manta/src/weights/pallet_lottery.rs
  runtime/manta/src/weights/pallet_manta_sbt.rs
  runtime/manta/src/weights/pallet_membership.rs
  runtime/manta/src/weights/pallet_multisig.rs
  runtime/manta/src/weights/pallet_name_service.rs
  runtime/manta/src/weights/pallet_parachain_staking.rs
  runtime/manta/src/weights/pallet_preimage.rs
  runtime/manta/src/weights/pallet_randomness.rs
  runtime/manta/src/weights/pallet_scheduler.rs
  runtime/manta/src/weights/pallet_session.rs
  runtime/manta/src/weights/pallet_sudo.rs
  runtime/manta/src/weights/pallet_timestamp.rs
  runtime/manta/src/weights/pallet_treasury.rs
  runtime/manta/src/weights/pallet_tx_pause.rs
  runtime/manta/src/weights/pallet_utility.rs
Labels: C-enhancement, A-manta, A-calamari, L-release, L-skip, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks
