Repository Manta-Network/Manta, pull requests merged in 2024-01, with the labels that each got.

#1291 Organize deps by workspace
  Cargo.lock
  Cargo.toml
  node/Cargo.toml
  pallets/asset-manager/Cargo.toml
  pallets/collator-selection/Cargo.toml
  pallets/farming/Cargo.toml
  pallets/farming/rpc/Cargo.toml
  pallets/farming/rpc/runtime-api/Cargo.toml
  pallets/manta-pay/Cargo.toml
  pallets/manta-pay/src/benchmark/mod.rs
  pallets/manta-pay/src/bin/precompute_coins.rs
  pallets/manta-pay/src/errors.rs
  pallets/manta-pay/src/test/payment.rs
  pallets/manta-sbt/Cargo.toml
  pallets/manta-sbt/src/benchmark/mod.rs
  pallets/manta-sbt/src/bin/precompute_coins.rs
  pallets/manta-sbt/src/errors.rs
  pallets/manta-support/Cargo.toml
  pallets/manta-support/src/manta_pay.rs
  pallets/name-service/Cargo.toml
  pallets/pallet-lottery/Cargo.toml
  pallets/parachain-staking/Cargo.toml
  pallets/parachain-staking/src/delegation_requests.rs
  pallets/parachain-staking/src/inflation.rs
  pallets/parachain-staking/src/lib.rs
  pallets/parachain-staking/src/set.rs
  pallets/parachain-staking/src/types.rs
  pallets/randomness/Cargo.toml
  pallets/tx-pause/Cargo.toml
  pallets/vesting/Cargo.toml
  primitives/manta/Cargo.toml
  primitives/session-keys/Cargo.toml
  primitives/session-keys/src/inherent.rs
  runtime/calamari/Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/calamari/src/migrations/asset_manager.rs
  runtime/common/Cargo.toml
  runtime/integration-tests/Cargo.toml
  runtime/manta/Cargo.toml
  runtime/manta/src/migrations/asset_manager.rs
Labels: C-enhancement, A-manta, A-calamari, A-rust, L-changed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1296 Fix aura slot
  Cargo.lock
  Cargo.toml
Labels: C-bug, A-manta, A-calamari, L-fixed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1299 allow permissionless asset
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-manta, L-fixed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1297 Release 4.6.1
  Cargo.lock
  Cargo.toml
  runtime/calamari/src/lib.rs
  runtime/manta/src/lib.rs
Labels: A-manta, A-calamari, L-changed, L-release, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1301 Unfilter set_staking_expectations
  runtime/calamari/src/lib.rs
  runtime/manta/src/lib.rs
Labels: A-manta, A-calamari, L-fixed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks

#1303 Release v4.6.1-1
  runtime/calamari/src/lib.rs
  runtime/manta/src/lib.rs
Labels: C-enhancement, A-manta, L-fixed, A-benchmark-checks, A-integration-test-checks, A-unit-test-checks
